
<div id="shopify-section-template--20752113860834__gifting_top_slider_mT97C9" class="shopify-section">
    
    <section class="homeslider-gifting swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
      <div class="swiper homeslider-gifting swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-b222eb1fab5afaa4" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
          
          <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 1" style="width: 100%;">
            <a href="">
            <img class="desktopbanner" width="100%" src="//www.rasluxuryoils.com/cdn/shop/files/Banner_Desktop_1440x450_5061ef8d-f156-459b-91c2-fcbdd18fa4fa_1920x889.jpg?v=1761569570" loading="lazy">
            <img class="mobilebanner" width="100%" src="//www.rasluxuryoils.com/cdn/shop/files/Banner_Mobile_750x450_6a77ad11-611e-453a-a193-bb1902cec8b8_750x825.jpg?v=1761569685" loading="lazy">
               </a>
          </div>
          
        </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></section>
    
</div>

<section id="shopify-section-template--20752113860834__main" class="shopify-section section"><link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-main-page.css?v=848677459125201531767088010" media="all" onload="this.media='all'">
<link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">

<style data-shopify="">.section-template--20752113860834__main-padding {
    padding-top: 21px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 750px) {
    .section-template--20752113860834__main-padding {
      padding-top: 28px;
      padding-bottom: 0px;
    }
  }</style>

<div class="page-width page-width--narrow section-template--20752113860834__main-padding">
  <h1 class="main-page-title page-title h0">
    Careers
  </h1>
  <div class="rte">
    <div class="globo-formbuilder" data-id="MTA4MDEz"></div>
  </div>
</div>
</section>

<section id="shopify-section-template--20752113860834__rich_text_LqN6Gw" class="shopify-section section"><link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">
<link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">

<style data-shopify="">.section-template--20752113860834__rich_text_LqN6Gw-padding {
    padding-top: 0px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 750px) {
    .section-template--20752113860834__rich_text_LqN6Gw-padding {
      padding-top: 0px;
      padding-bottom: 24px;
    }
  }</style><div class="isolate">
  <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--20752113860834__rich_text_LqN6Gw-padding">
    <div class="rich-text__blocks"><div class="rich-text__text rte"><p><strong>RAS</strong>&nbsp;(pronounced ‘ruh-us’ which means essence &amp; happiness in Sanskrit) is transforming the premium beauty and skincare industry in India with its high-quality natural ingredients and potent scientific formulations that are manufactured at the company’s proprietary vertically-integrated research facility &amp; farms in Raipur, Chhattisgarh. Through its products, RAS aims to champion and leverage India’s vast bounty of natural ingredients and rich history of nature-based beauty products. RAS Luxury Oils started out with a simple philosophy - to create a skincare brand that was transparent, pure and responsible.</p><h4><em>Would love To hear from you and have you part of the growing #RASFam<br></em></h4><p>If you're passionate about beauty, innovation, and making a difference, we’d love to have you on our team — explore exciting career opportunities by reaching us at <strong>9303873116</strong> or mail us at recruitments@rasluxuryoils.com<br><em><br></em></p></div></div>
  </div>
</div>
</section>

<section id="shopify-section-template--20752113860834__contact_form_careers_Gyj4hz" class="shopify-section section"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-contact-form.css?v=98810629362508425461767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-template--20752113860834__contact_form_careers_Gyj4hz-padding {
    padding-top: 0px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-template--20752113860834__contact_form_careers_Gyj4hz-padding {
      padding-top: 0px;
      padding-bottom: 36px;
    }
  }</style><div class="color-background-1 gradient">
  <div class="contact-form-car page-width page-width--narrow section-template--20752113860834__contact_form_careers_Gyj4hz-padding"><h2 class="title title-wrapper--no-top-margin h2">Fill your details here we'll get back to you shortly.</h2><form method="post" action="/contact#ContactForm" id="ContactForm" accept-charset="UTF-8" class="isolate"><input type="hidden" name="form_type" value="contact"><input type="hidden" name="utf8" value="✓"><div class="contact__fields">
       
        <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[Name]" value="" placeholder="Name">
          <label class="field__label" for="ContactForm-name">First Name</label>
        </div>

   <div class="field">
          <input class="field__input" autocomplete="name" type="text" id="ContactForm-lastname" name="contact[Translation missing: en.templates.contact.form.lastname]" value="" placeholder="Last Name">
          <label class="field__label" for="ContactForm-name">Last Name</label>
        </div>


        

      </div>

           <div class="contact__fields">
     
             <div class="field">


        <div class="field field--with-error">
          <input autocomplete="email" type="email" id="ContactForm-email" class="field__input" name="contact[email]" spellcheck="false" autocapitalize="off" value="" aria-required="true" placeholder="Email">
          <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label></div>

      </div>
             
   <div class="field">
        
        <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[Phone number]" pattern="[0-9\-]*" value="" placeholder="Phone number">
        <label class="field__label" for="ContactForm-phone">Phone number</label>
      </div>

           </div>

   <div class="contact__fields">
     
             <div class="field">


 
  <select class="field__input cx-data-frm" id="CustomerType" name="customer[tags]">
    <option>Select Role</option>
    <option>Dispatch Associate - Raipur</option>
    <option>Data Analyst Associate - Mumbai</option>
    <option>Customer Care Associate - Mumbai &amp; Raipur</option>
    <option>Graphic Designer Associate - Raipur</option>
    <option>New Product Development Associate - Raipur</option>
    <option>Marketplace Executive - Mumbai</option>
    <option>PR Associate - Mumbai</option>
    <option>Graphic Designer Executive - Mumbai</option>
    <option>HR Executive - Raipur</option>   
      <option>Sourcing Associate - Raipur</option>   
      <option>B2B Sales Executive - Mumbai</option>   
      <option>Web Associate - Shopify - Mumbai</option>   
      <option>Sr Social Media Executive - Mumbai</option> 
     <option>Shopify Technical Coder - Mumbai</option>  
     <option>Sr. Training Executive - Mumbai</option>  
    <option>Factory Unit Incharge - Raipur</option>  
  </select>
</div>

        
     
      </div>



      
      <div class="contact__button">
        <button type="submit" class="button">
        Send
        </button>
      </div></form></div>
</div>

<style>

.contact-form-car.page-width {
    background: #f4f4f4;
    max-width: 80rem;
    border: 1px solid #000;
    padding: 30px;
  margin-top: 0px;
    margin-bottom: 40px;
}
  
.contact-form-car.page-width title{
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-form-car .contact__fields{
      margin-bottom: 20px;
      display: flex; /* Ensure fields layout side-by-side where appropriate */
      gap: 15px;
}

/* Make fields 50% width on desktop */
.contact-form-car .contact__fields .field {
    flex: 1;
}

 .contact-form-car .cx-data-frm{
       padding: 10px 20px;
       width: 100%;
 }
  
 /* Responsive Styles for Banner */
 .mobilebanner { display: none; }
 .desktopbanner { display: block; }
 
 @media screen and (max-width: 749px) {
    .mobilebanner { display: block; }
    .desktopbanner { display: none; }
    
    .contact-form-car.page-width{
        margin: 40px 15px;
        padding-bottom: 40px !important;
        padding-top: 40px !important;
    }
    
    .contact-form-car .contact__fields {
        flex-direction: column; /* Stack fields on mobile */
    }
    
    .contact-form-car .field{
        margin-bottom: 10px;
    }
  }

</style>  
</section>
