
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js" integrity="sha512-j7/1CJweOskkQiS5RD9W8zhEG9D9vpgByNGxPIqkO5KrXrwyDAroM9aQ9w8J7oRqwxGyz429hPVk/zR6IOMtSA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" referrerpolicy="no-referrer">

<nav class="breadcrumb page-width" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home">Home</a>
  <span aria-hidden="true">/</span>
  <span>Awards &amp; Press</span>
</nav>

<style>
  .breadcrumb {
    font-size: 14px;
    margin-bottom: -20px;
    color: #333;
    margin-top: 10px;
    width: 100%;
  }
  .breadcrumb a {
    color: #000;
    text-decoration: none;
  }
  .breadcrumb span {
    margin: 0 5px;
    color: #999;
  }
</style>

<div class="page-width sev-recipe media-section">
  <h1 class="main-page-title page-title h0">Awards &amp; Press</h1>
  
  <style>
    .media-section .press_sectiooo{
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .media-section .one-forth-div {
        width: 48%;
        margin: 0 10px;
        text-align: center;
        border: 1px solid #fff;
        margin-bottom: 15px;
    }
    .media-section .parent {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .page-new-press-page .popup img {
        cursor: pointer;
    }
    .media-section .one-forth-div .press_des{
        text-align: left;
        padding-top: 0;
    }
    .one-forth-div .press_date p{
        margin: 0;
    }
    .media-section .one-forth-div .con_shop{
        padding-bottom: 15px;
        text-align: left;
    }
    .media-section .one-forth-div .press_des h3{
        margin-top: 0;
        padding: 0;
    }
    .shopify-section .page-width.sev-recipe {
        padding-bottom: 30px!important;
    }
    .media-section .BRAND{
        text-align: center;
    }
    
    @media only screen and (max-width: 749px){
        .media-section .one-forth-div {
            width: 100%;
            margin: 0 5px;
            margin-bottom: 15px;
        }
        .media-section .one-forth-div .press_des h3 {
            padding: 0px;
            margin: 5px 0px;
            font-size: 14px;
        }
        .media-section .one-forth-div .press_des {
            padding-top: 0px;
        }
    }
  </style>

  <div class="rte">
    <div style="text-align: center; margin-bottom: 30px;">
      <h2 class="BRAND"> BRAND AWARDS &amp; RECOGNITIONS</h2>
    </div>

    <div class="parent" style="justify-content: center;">
      <!-- Content from the first section (Awards) -->
      <div class="one-forth-div popup one-forth-1">
        <a class="grouped_elements" data-fancybox="gallery" rel="group1" href="//www.rasluxuryoils.com/cdn/shop/files/20_f4ef7724-e5ab-4409-835f-15ab5617a7ef.jpg?v=1746864450"><img src="//www.rasluxuryoils.com/cdn/shop/files/20_f4ef7724-e5ab-4409-835f-15ab5617a7ef.jpg?v=1746864450" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> LUXURY LIFESTYLE AWARDS</h3></div>
          <div class="press_date"><p>  May 2025</p></div>
        </div>
        <div class="press_des"><h3>RAS™ Luxury Skincare</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-2">
        <a class="grouped_elements" data-fancybox="gallery" rel="group2" href="//www.rasluxuryoils.com/cdn/shop/files/21_650389f0-7b3a-4d96-b27f-ab58392e00b8.jpg?v=1747729872"><img src="//www.rasluxuryoils.com/cdn/shop/files/21_650389f0-7b3a-4d96-b27f-ab58392e00b8.jpg?v=1747729872" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> GLOBAL SPA AWARD</h3></div>
          <div class="press_date"><p>  April 2025</p></div>
        </div>
        <div class="press_des"><h3>RAS™ Luxury Skincare</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-3">
        <a class="grouped_elements" data-fancybox="gallery" rel="group3" href="//www.rasluxuryoils.com/cdn/shop/files/18_20366eeb-1752-477a-a3d8-7991a75a8d1b.jpg?v=1726039374"><img src="//www.rasluxuryoils.com/cdn/shop/files/18_20366eeb-1752-477a-a3d8-7991a75a8d1b.jpg?v=1726039374" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> GRAZIA INDIE BEAUTY SUPERSTAR AWARD</h3></div>
          <div class="press_date"><p>  August 2024</p></div>
        </div>
        <div class="press_des"><h3>Collagen Boosting &amp; Firming Advanced Booster Serum</h3></div>
        <div class="con_shop"><a href="https://www.grazia.co.in/beauty-and-health/grazia-indie-beauty-superstars-2024_-13062.html" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-4">
        <a class="grouped_elements" data-fancybox="gallery" rel="group4" href="//www.rasluxuryoils.com/cdn/shop/files/19_bf60cada-cb91-4535-b858-60f8572e1de3.jpg?v=1726216364"><img src="//www.rasluxuryoils.com/cdn/shop/files/19_bf60cada-cb91-4535-b858-60f8572e1de3.jpg?v=1726216364" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> BW WELL BEING WORLD AWARD</h3></div>
          <div class="press_date"><p>  May 2024</p></div>
        </div>
        <div class="press_des"><h3>Suramya Jain</h3></div>
        <div class="con_shop"><a href="https://bwwellbeingworld.com/article/driving-and-inspiring-a-growth-process-520136" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-5">
        <a class="grouped_elements" data-fancybox="gallery" rel="group5" href="//www.rasluxuryoils.com/cdn/shop/files/2_22_a4375853-e237-458c-ae30-d0b155310bcd.jpg?v=1717244597"><img src="//www.rasluxuryoils.com/cdn/shop/files/2_22_a4375853-e237-458c-ae30-d0b155310bcd.jpg?v=1717244597" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> FORBES UNDER 30 ASIA 2024</h3></div>
          <div class="press_date"><p>  May 2024</p></div>
        </div>
        <div class="press_des"><h3> Shubhika Jain, Suramya Jain</h3></div>
        <div class="con_shop"><a href="https://www.forbes.com/30-under-30/2024/asia/retail-ecommerce?profile=ras-beauty" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-6">
        <a class="grouped_elements" data-fancybox="gallery" rel="group6" href="//www.rasluxuryoils.com/cdn/shop/files/12_4.jpg?v=1717244696"><img src="//www.rasluxuryoils.com/cdn/shop/files/12_4.jpg?v=1717244696" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> BEST BRANDS AWARD</h3></div>
          <div class="press_date"><p>  December 2023</p></div>
        </div>
        <div class="press_des"><h3>RAS™ LUXURY SKINCARE</h3></div>
        <div class="con_shop"><a href="#" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-7">
        <a class="grouped_elements" data-fancybox="gallery" rel="group7" href="//www.rasluxuryoils.com/cdn/shop/files/14_3.jpg?v=1717246913"><img src="//www.rasluxuryoils.com/cdn/shop/files/14_3.jpg?v=1717246913" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> The CMPL Disruptors Award</h3></div>
          <div class="press_date"><p>  November 2023</p></div>
        </div>
        <div class="press_des"><h3> CMPL EXPO</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-8">
        <a class="grouped_elements" data-fancybox="gallery" rel="group8" href="//www.rasluxuryoils.com/cdn/shop/files/13_3.jpg?v=1717247012"><img src="//www.rasluxuryoils.com/cdn/shop/files/13_3.jpg?v=1717247012" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> ELLE BEAUTY AWARD 2023</h3></div>
          <div class="press_date"><p>  2023</p></div>
        </div>
        <div class="press_des"><h3>Oh - So Luxe Liquid Lip Balm</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-9">
        <a class="grouped_elements" data-fancybox="gallery" rel="group9" href="//www.rasluxuryoils.com/cdn/shop/files/16_1.jpg?v=1717247107"><img src="//www.rasluxuryoils.com/cdn/shop/files/16_1.jpg?v=1717247107" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> MB 100</h3></div>
          <div class="press_date"><p>  2023</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain</h3></div>
        <div class="con_shop"><a href="https://meaningful.business/mb100-2023/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-10">
        <a class="grouped_elements" data-fancybox="gallery" rel="group10" href="//www.rasluxuryoils.com/cdn/shop/files/15_1.jpg?v=1717247204"><img src="//www.rasluxuryoils.com/cdn/shop/files/15_1.jpg?v=1717247204" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> BW 30 UNDER 30 AWARDS</h3></div>
          <div class="press_date"><p>  April 2023</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-11">
        <a class="grouped_elements" data-fancybox="gallery" rel="group11" href="//www.rasluxuryoils.com/cdn/shop/files/17_abeddc32-00a7-4e40-af6f-1e8a385122e8.jpg?v=1717247312"><img src="//www.rasluxuryoils.com/cdn/shop/files/17_abeddc32-00a7-4e40-af6f-1e8a385122e8.jpg?v=1717247312" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> Global Spa Awards Winner | Best Spa Product Anti-Ageing India</h3></div>
          <div class="press_date"><p>  2022</p></div>
        </div>
        <div class="press_des"><h3> RAS™ LUXURY OILS</h3></div>
        <div class="con_shop"><a href="https://globalspaonline.com/globalspa-awards-2022/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-12">
        <a class="grouped_elements" data-fancybox="gallery" rel="group12" href="//www.rasluxuryoils.com/cdn/shop/files/3_19_41094e92-04f2-410e-9b4c-c04907536e70.jpg?v=1717247359"><img src="//www.rasluxuryoils.com/cdn/shop/files/3_19_41094e92-04f2-410e-9b4c-c04907536e70.jpg?v=1717247359" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> LUXEBOOK | TOP 50 MOST POWERFUL WOMEN IN THE INDIAN LUXURY INDUSTRY</h3></div>
          <div class="press_date"><p>  October 2021</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain</h3></div>
        <div class="con_shop"><a href="https://luxebook.in/celebrating-the-powerful-women-of-luxury-luxebooks-top-50-celebrations-have-begun/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-13">
        <a class="grouped_elements" data-fancybox="gallery" rel="group13" href="//www.rasluxuryoils.com/cdn/shop/files/1_24_4a27e795-bcdd-4800-8379-6859470479d6.jpg?v=1717247469"><img src="//www.rasluxuryoils.com/cdn/shop/files/1_24_4a27e795-bcdd-4800-8379-6859470479d6.jpg?v=1717247469" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> WINNER | LUXURY BRAND</h3></div>
          <div class="press_date"><p>  2021</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain</h3></div>
        <div class="con_shop"><a href="https://www.hindustantimes.com/brandstories/30-under-30/winners/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-14">
        <a class="grouped_elements" data-fancybox="gallery" rel="group14" href="//www.rasluxuryoils.com/cdn/shop/files/11_4.jpg?v=1717247576"><img src="//www.rasluxuryoils.com/cdn/shop/files/11_4.jpg?v=1717247576" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> VOGUE | BEAUTY FESTIVAL 2021</h3></div>
          <div class="press_date"><p>  August 2021</p></div>
        </div>
        <div class="press_des"><h3> RAS™ LUXURY OILS</h3></div>
        <div class="con_shop"><a href="https://www.vogue.in/microsite/vogue-beauty-festival-2021/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-15">
        <a class="grouped_elements" data-fancybox="gallery" rel="group15" href="//www.rasluxuryoils.com/cdn/shop/files/8_1.jpg?v=1717247660"><img src="//www.rasluxuryoils.com/cdn/shop/files/8_1.jpg?v=1717247660" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> EOTY | YOUNG ENTREPRENEUR OF THE YEAR</h3></div>
          <div class="press_date"><p>  2019</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-16">
        <a class="grouped_elements" data-fancybox="gallery" rel="group16" href="//www.rasluxuryoils.com/cdn/shop/files/10_1.jpg?v=1717247740"><img src="//www.rasluxuryoils.com/cdn/shop/files/10_1.jpg?v=1717247740" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> TIMES | SHE UNLTD ENTREPRENEUR AWARDS CATEGORY BEAUTY</h3></div>
          <div class="press_date"><p>  2019</p></div>
        </div>
        <div class="press_des"><h3>Shubhika Jain &amp; Sangeeta Jain</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-17">
        <a class="grouped_elements" data-fancybox="gallery" rel="group17" href="//www.rasluxuryoils.com/cdn/shop/files/5_14_f222c3af-98f3-4fcf-b200-8cc6ce038424.jpg?v=1717247812"><img src="//www.rasluxuryoils.com/cdn/shop/files/5_14_f222c3af-98f3-4fcf-b200-8cc6ce038424.jpg?v=1717247812" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> HARPER'S BAZAAR | BEST OF BEAUTY AWARDS</h3></div>
          <div class="press_date"><p>  2019</p></div>
        </div>
        <div class="press_des"><h3> Infinity Anti-Ageing Face Elixir</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-18">
        <a class="grouped_elements" data-fancybox="gallery" rel="group18" href="//www.rasluxuryoils.com/cdn/shop/files/4_14_2498fcd5-f0b9-477c-b548-eb2098dbdba3.jpg?v=1717247873"><img src="//www.rasluxuryoils.com/cdn/shop/files/4_14_2498fcd5-f0b9-477c-b548-eb2098dbdba3.jpg?v=1717247873" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> COSMOPOLITAN INDIA | BEAUTY AWARDS</h3></div>
          <div class="press_date"><p>  2019</p></div>
        </div>
        <div class="press_des"><h3> Radiance Beauty-Boosting Day Face Elixir</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-19">
        <a class="grouped_elements" data-fancybox="gallery" rel="group19" href="//www.rasluxuryoils.com/cdn/shop/files/7_2_4d22efdc-b3dd-4590-b3e7-a62310b7d7c5.jpg?v=1717247954"><img src="//www.rasluxuryoils.com/cdn/shop/files/7_2_4d22efdc-b3dd-4590-b3e7-a62310b7d7c5.jpg?v=1717247954" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> THE GEO SPA GLOBAL AWARDS | BEST ANTI AGEING BRAND</h3></div>
          <div class="press_date"><p>  2018</p></div>
        </div>
        <div class="press_des"><h3> Infinity Anti-Ageing Face Elixir</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-20">
        <a class="grouped_elements" data-fancybox="gallery" rel="group20" href="//www.rasluxuryoils.com/cdn/shop/files/6_7.jpg?v=1717248058"><img src="//www.rasluxuryoils.com/cdn/shop/files/6_7.jpg?v=1717248058" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> IHW SUMMIT AWARDS | BEST WELLNESS BRAND</h3></div>
          <div class="press_date"><p>  2018</p></div>
        </div>
        <div class="press_des"><h3> RAS™ LUXURY OILS</h3></div>
      </div>

      <div class="one-forth-div popup one-forth-21">
        <a class="grouped_elements" data-fancybox="gallery" rel="group21" href="//www.rasluxuryoils.com/cdn/shop/files/9_8.jpg?v=1717248120"><img src="//www.rasluxuryoils.com/cdn/shop/files/9_8.jpg?v=1717248120" alt=""></a>
        <div class="press_sectiooo">
          <div class="press_title"><h3> ASIA SPA AWARDS | BEST SPA PRODUCT NATURAL LINE</h3></div>
          <div class="press_date"><p>  2018</p></div>
        </div>
        <div class="press_des"><h3> RAS™ LUXURY OILS</h3></div>
      </div>

    </div>
  </div>
</div>

<div class="page-width sev-recipe press-section">
  <style>
    .press-section .one-forth-div {
        width: 23%;
        margin: 0 10px;
        text-align: center;
        border: 1px solid #fff;
        margin-bottom: 15px;
    }
    .press-section .parent {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .press-section .one-forth-div .press_des{
        padding-top: 15px;
    }
    .press-section .one-forth-div .press_date p{
        margin: 0;
    }
    .press-section .one-forth-div .con_shop{
        padding-bottom: 15px;
    }
    .press-section .one-forth-div .press_des h3{
        margin-bottom: 5px;
        padding: 0px 5px;
    }
    @media only screen and (max-width: 749px){
        .press-section .one-forth-div {
            width: 46%;
            margin: 0 5px;
            margin-bottom: 15px;
        }
        .press-section .one-forth-div .press_des h3 {
            padding: 5px;
            margin: 0px 5px;
            font-size: 13px;
        }
        .press-section .one-forth-div .press_des {
            padding-top: 35px;
        }
    }
  </style>

  <div class="rte">
    <div class="parent" style="justify-content: center;">
      <!-- Content from the second section (Press) -->
      <div class="one-forth-div popup one-forth-1">
        <a class="grouped_elements" data-fancybox="gallery" rel="group1" href="//www.rasluxuryoils.com/cdn/shop/files/195.jpg?v=1747733854"><img src="//www.rasluxuryoils.com/cdn/shop/files/195.jpg?v=1747733854" alt=""></a>
        <div class="press_des"><h3> BEAUTY MATTER</h3></div>
        <div class="press_date"><p>  April 2025</p></div>
        <div class="con_shop"><a href="https://beautymatter.com/articles/ras-luxury-skincare" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-2">
        <a class="grouped_elements" data-fancybox="gallery" rel="group2" href="//www.rasluxuryoils.com/cdn/shop/files/193.jpg?v=1747733343"><img src="//www.rasluxuryoils.com/cdn/shop/files/193.jpg?v=1747733343" alt=""></a>
        <div class="press_des"><h3> LOCAL SAMOSA</h3></div>
        <div class="press_date"><p>  March 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DG5buFaS90U/?hl=en&amp;img_index=7" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-3">
        <a class="grouped_elements" data-fancybox="gallery" rel="group3" href="//www.rasluxuryoils.com/cdn/shop/files/192.jpg?v=1747732733"><img src="//www.rasluxuryoils.com/cdn/shop/files/192.jpg?v=1747732733" alt=""></a>
        <div class="press_des"><h3> LIFESTYLE ASIA INDIA</h3></div>
        <div class="press_date"><p>  March 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DHWEJlhCpLd/?hl=en&amp;img_index=7" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-4">
        <a class="grouped_elements" data-fancybox="gallery" rel="group4" href="//www.rasluxuryoils.com/cdn/shop/files/191.jpg?v=1747732607"><img src="//www.rasluxuryoils.com/cdn/shop/files/191.jpg?v=1747732607" alt=""></a>
        <div class="press_des"><h3> LIFESTYLE ASIA INDIA</h3></div>
        <div class="press_date"><p>  March 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DHqriJxC4i3/?hl=en&amp;img_index=7" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-5">
        <a class="grouped_elements" data-fancybox="gallery" rel="group5" href="//www.rasluxuryoils.com/cdn/shop/files/190.jpg?v=1747732497"><img src="//www.rasluxuryoils.com/cdn/shop/files/190.jpg?v=1747732497" alt=""></a>
        <div class="press_des"><h3> ELLE</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="https://elle.in/beauty/the-dopamine-menu-a-24-hour-glow-up-plan-youll-love-8738573?utm_campaign=linkinbio&amp;utm_medium=referral&amp;utm_source=later-linkinbio" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-6">
        <a class="grouped_elements" data-fancybox="gallery" rel="group6" href="//www.rasluxuryoils.com/cdn/shop/files/189.jpg?v=1747732245"><img src="//www.rasluxuryoils.com/cdn/shop/files/189.jpg?v=1747732245" alt=""></a>
        <div class="press_des"><h3> ELLE</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DGXtUmaS9VD/?hl=en" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-7">
        <a class="grouped_elements" data-fancybox="gallery" rel="group7" href="//www.rasluxuryoils.com/cdn/shop/files/188.jpg?v=1747732146"><img src="//www.rasluxuryoils.com/cdn/shop/files/188.jpg?v=1747732146" alt=""></a>
        <div class="press_des"><h3> STORYBOARD 18</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="#" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-8">
        <a class="grouped_elements" data-fancybox="gallery" rel="group8" href="//www.rasluxuryoils.com/cdn/shop/files/187.jpg?v=1747731981"><img src="//www.rasluxuryoils.com/cdn/shop/files/187.jpg?v=1747731981" alt=""></a>
        <div class="press_des"><h3> BAZZAR INDIA</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="https://www.harpersbazaar.in/beauty/story/25-to-in-2025-beauty-1161759-2025-02-12" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-9">
        <a class="grouped_elements" data-fancybox="gallery" rel="group9" href="//www.rasluxuryoils.com/cdn/shop/files/186.jpg?v=1747731773"><img src="//www.rasluxuryoils.com/cdn/shop/files/186.jpg?v=1747731773" alt=""></a>
        <div class="press_des"><h3> COSMOPOLITIAN</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="https://www.cosmopolitan.in/beauty/features/story/why-alpha-arbutin-deserves-a-spot-in-your-skincare-routine-1174072-2025-02-22#" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-10">
        <a class="grouped_elements" data-fancybox="gallery" rel="group10" href="//www.rasluxuryoils.com/cdn/shop/files/185.jpg?v=1747731593"><img src="//www.rasluxuryoils.com/cdn/shop/files/185.jpg?v=1747731593" alt=""></a>
        <div class="press_des"><h3> COSMO INDIA</h3></div>
        <div class="press_date"><p>  February 2025</p></div>
        <div class="con_shop"><a href="#" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-11">
        <a class="grouped_elements" data-fancybox="gallery" rel="group11" href="//www.rasluxuryoils.com/cdn/shop/files/194.jpg?v=1747733516"><img src="//www.rasluxuryoils.com/cdn/shop/files/194.jpg?v=1747733516" alt=""></a>
        <div class="press_des"><h3> RAIPUR SMART CITY</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DFUOxZtIGRQ/?hl=en" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-12">
        <a class="grouped_elements" data-fancybox="gallery" rel="group12" href="//www.rasluxuryoils.com/cdn/shop/files/184.jpg?v=1747731368"><img src="//www.rasluxuryoils.com/cdn/shop/files/184.jpg?v=1747731368" alt=""></a>
        <div class="press_des"><h3> POP XO BEAUTY</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DEkB2-hStYe/?hl=en&amp;img_index=3" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-13">
        <a class="grouped_elements" data-fancybox="gallery" rel="group13" href="//www.rasluxuryoils.com/cdn/shop/files/183.jpg?v=1747731245"><img src="//www.rasluxuryoils.com/cdn/shop/files/183.jpg?v=1747731245" alt=""></a>
        <div class="press_des"><h3> THE BEAUTY STORE</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DErLNrFvIFE/?hl=en" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-14">
        <a class="grouped_elements" data-fancybox="gallery" rel="group14" href="//www.rasluxuryoils.com/cdn/shop/files/182.jpg?v=1747731108"><img src="//www.rasluxuryoils.com/cdn/shop/files/182.jpg?v=1747731108" alt=""></a>
        <div class="press_des"><h3> THE BEAUTY STORE</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DFHhSTrvvYl/?hl=en" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-15">
        <a class="grouped_elements" data-fancybox="gallery" rel="group15" href="//www.rasluxuryoils.com/cdn/shop/files/181.jpg?v=1747730909"><img src="//www.rasluxuryoils.com/cdn/shop/files/181.jpg?v=1747730909" alt=""></a>
        <div class="press_des"><h3> RAIPUR MUNICIPAL CORPORATION</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.instagram.com/p/DFKM9dKsUBo/?hl=en" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-16">
        <a class="grouped_elements" data-fancybox="gallery" rel="group16" href="//www.rasluxuryoils.com/cdn/shop/files/180.jpg?v=1737035062"><img src="//www.rasluxuryoils.com/cdn/shop/files/180.jpg?v=1737035062" alt=""></a>
        <div class="press_des"><h3> YOURSTORY</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://yourstory.com/2025/01/funding-ras-luxury-5-million-unilever-ventures-amazon-smbhav-sixthsense" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-17">
        <a class="grouped_elements" data-fancybox="gallery" rel="group17" href="//www.rasluxuryoils.com/cdn/shop/files/179.jpg?v=1737035198"><img src="//www.rasluxuryoils.com/cdn/shop/files/179.jpg?v=1737035198" alt=""></a>
        <div class="press_des"><h3> THE ECONOMIC TIMES</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://m.economictimes.com/tech/funding/beauty-brand-ras-luxury-skincare-raises-5-million-from-unilever-ventures-others/amp_articleshow/117033168.cms" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-18">
        <a class="grouped_elements" data-fancybox="gallery" rel="group18" href="//www.rasluxuryoils.com/cdn/shop/files/178.jpg?v=1737035298"><img src="//www.rasluxuryoils.com/cdn/shop/files/178.jpg?v=1737035298" alt=""></a>
        <div class="press_des"><h3> BUSINESSLINE</h3></div>
        <div class="press_date"><p>  January 2025</p></div>
        <div class="con_shop"><a href="https://www.thehindubusinessline.com/companies/luxury-d2c-skincare-brand-ras-raises-5-million-in-funding-from-unilever-ventures-amazon-smbhav-venture-fund/article69072487.ece" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-19">
        <a class="grouped_elements" data-fancybox="gallery" rel="group19" href="//www.rasluxuryoils.com/cdn/shop/files/176.jpg?v=1726040350"><img src="//www.rasluxuryoils.com/cdn/shop/files/176.jpg?v=1726040350" alt=""></a>
        <div class="press_des"><h3> CORPORATE CONNECT</h3></div>
        <div class="press_date"><p>  August 2024</p></div>
        <div class="con_shop"><a href="https://corporateconnectglobal.com/magazine/2024/Iconic-Women-Entrepreneurs-of-the-Year-2024/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-20">
        <a class="grouped_elements" data-fancybox="gallery" rel="group20" href="//www.rasluxuryoils.com/cdn/shop/files/175.jpg?v=1726040221"><img src="//www.rasluxuryoils.com/cdn/shop/files/175.jpg?v=1726040221" alt=""></a>
        <div class="press_des"><h3> GRAZIA</h3></div>
        <div class="press_date"><p>  August 2024</p></div>
        <div class="con_shop"><a href="https://www.grazia.co.in/beauty-and-health/grazia-indie-beauty-superstars-2024_-13062.html" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-21">
        <a class="grouped_elements" data-fancybox="gallery" rel="group21" href="//www.rasluxuryoils.com/cdn/shop/files/174_aab448b3-9642-4157-9f2b-335e04e0f436.jpg?v=1721370337"><img src="//www.rasluxuryoils.com/cdn/shop/files/174_aab448b3-9642-4157-9f2b-335e04e0f436.jpg?v=1721370337" alt=""></a>
        <div class="press_des"><h3> IDIVA</h3></div>
        <div class="press_date"><p>  July 2024</p></div>
        <div class="con_shop"><a href="https://www.idiva.com/ampstories/beauty/skincare/best-collagen-boosting-face-serums-in-india/18080931" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-22">
        <a class="grouped_elements" data-fancybox="gallery" rel="group22" href="//www.rasluxuryoils.com/cdn/shop/files/173_c1696b82-23c9-49fd-b711-d84a10c4ae1a.jpg?v=1721370293"><img src="//www.rasluxuryoils.com/cdn/shop/files/173_c1696b82-23c9-49fd-b711-d84a10c4ae1a.jpg?v=1721370293" alt=""></a>
        <div class="press_des"><h3> NDTV Shoppping</h3></div>
        <div class="press_date"><p>  July 2024</p></div>
        <div class="con_shop"><a href="https://www.ndtv.com/shopping/discover-lipsticks-at-a-minimum-30-off-on-amazon-now-or-never-hottest-steal-deals-6016359" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-23">
        <a class="grouped_elements" data-fancybox="gallery" rel="group23" href="//www.rasluxuryoils.com/cdn/shop/files/177_1.jpg?v=1726216455"><img src="//www.rasluxuryoils.com/cdn/shop/files/177_1.jpg?v=1726216455" alt=""></a>
        <div class="press_des"><h3> BW WELL BEING WORLD</h3></div>
        <div class="press_date"><p>  May 2024</p></div>
        <div class="con_shop"><a href="https://bwwellbeingworld.com/article/driving-and-inspiring-a-growth-process-520136" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-24">
        <a class="grouped_elements" data-fancybox="gallery" rel="group24" href="//www.rasluxuryoils.com/cdn/shop/files/171_1.jpg?v=1715582187"><img src="//www.rasluxuryoils.com/cdn/shop/files/171_1.jpg?v=1715582187" alt=""></a>
        <div class="press_des"><h3> PETAINDIA</h3></div>
        <div class="press_date"><p>  May 2024</p></div>
        <div class="con_shop"><a href="https://www.petaindia.com/blog/green-glow-up-a-vegan-and-ethical-gifting-guide-for-mothers-day/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-25">
        <a class="grouped_elements" data-fancybox="gallery" rel="group25" href="//www.rasluxuryoils.com/cdn/shop/files/170.jpg?v=1715064335"><img src="//www.rasluxuryoils.com/cdn/shop/files/170.jpg?v=1715064335" alt=""></a>
        <div class="press_des"><h3> IDIVA</h3></div>
        <div class="press_date"><p>  May 2024</p></div>
        <div class="con_shop"><a href="https://www.idiva.com/ampstories/beauty/skincare/best-facial-tools-to-achieve-sculpted-cheeks-and-glass-skin/18077965" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-26">
        <a class="grouped_elements" data-fancybox="gallery" rel="group26" href="//www.rasluxuryoils.com/cdn/shop/files/166.jpg?v=1715063817"><img src="//www.rasluxuryoils.com/cdn/shop/files/166.jpg?v=1715063817" alt=""></a>
        <div class="press_des"><h3> HEALTH SHOTS</h3></div>
        <div class="press_date"><p>  May 2024</p></div>
        <div class="con_shop"><a href="https://economictimes.indiatimes.com/top-trending-products/beauty/skin-care/10-best-oil-control-serums-for-summer-2024/articleshow/109670786.cms?from=mdr" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-27">
        <a class="grouped_elements" data-fancybox="gallery" rel="group27" href="//www.rasluxuryoils.com/cdn/shop/files/169.jpg?v=1715064261"><img src="//www.rasluxuryoils.com/cdn/shop/files/169.jpg?v=1715064261" alt=""></a>
        <div class="press_des"><h3> HEALTHSHOTS</h3></div>
        <div class="press_date"><p>  April 2024</p></div>
        <div class="con_shop"><a href="https://www.healthshots.com/beauty/skin-care/best-serum-for-dry-skin/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-28">
        <a class="grouped_elements" data-fancybox="gallery" rel="group28" href="//www.rasluxuryoils.com/cdn/shop/files/168.jpg?v=1715064091"><img src="//www.rasluxuryoils.com/cdn/shop/files/168.jpg?v=1715064091" alt=""></a>
        <div class="press_des"><h3> HEALTHSHOTS</h3></div>
        <div class="press_date"><p>  April 2024</p></div>
        <div class="con_shop"><a href="https://www.healthshots.com/beauty/skin-care/best-skin-whitening-serums/" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-29">
        <a class="grouped_elements" data-fancybox="gallery" rel="group29" href="//www.rasluxuryoils.com/cdn/shop/files/167.jpg?v=1715063940"><img src="//www.rasluxuryoils.com/cdn/shop/files/167.jpg?v=1715063940" alt=""></a>
        <div class="press_des"><h3> OUTLOOK</h3></div>
        <div class="press_date"><p>  April 2024</p></div>
        <div class="con_shop"><a href="https://www.outlookindia.com/whats-hot/10-best-tinted-sunscreens-for-all-skin-types-in-india-2024" class="con_shop_faq">Read More</a></div>
      </div>

      <div class="one-forth-div popup one-forth-30">
        <!-- Reconstructed based on available info from user dump, ensuring closed tags -->
      </div>
      
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('[data-fancybox="gallery"]').fancybox({
      buttons: [
        "slideShow",
        "thumbs",
        "zoom",
        "fullScreen",
        "share",
        "close"
      ],
      loop: false,
      protect: true
    });
  });
</script>
