<div class="reward-page">

  <div class="reward-main-img-new">
    <img class="desktop-new" src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Rewards_Desktop_Size.jpg?v=1727097239" loading="lazy" width="100%">
  </div>  

  <div class="page-width reward-how-it-works">
    <h2>How it <b>Works?</b></h2>
    
    <div class="reward-how-it-content">
      <div class="img-txt-1">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Join.png?v=1728988157" loading="lazy">
        <p>JOIN</p>
      </div>
      <div class="img-txt-2">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Earn.png?v=1728988156" loading="lazy">
        <p>EARN</p>
      </div>
      <div class="img-txt-3">
         <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Redeem.png?v=1728988157" loading="lazy">
        <p>REDEEM</p>
      </div>
    </div>
  </div>


  <div class="page-width multiple-ways-works">
    <div class="main-way-work">
      <div class="content-way-work">
        <h2>Here are the multiple ways you can get <b>RAS™ Reward Points:</b></h2>
        
        <div class="content-dos">  
          <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Create_account.png?v=1729145633" loading="lazy">
          <h3><b>100 Reward Points</b> for Creating an <b>Account</b></h3>
        </div>
        <div class="content-dos">  
          <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Newsletter.png?v=1729145633" loading="lazy">
          <h3> <b>150 Reward Points</b>  for Subscribing to our <b>Newsletter</b></h3>
        </div>
        <div class="content-dos">  
          <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Review_2.png?v=1729145633" loading="lazy">
          <h3> <b>200 Reward Points</b>  for leaving a <b>Review</b></h3>
        </div>
        <div class="content-dos">  
          <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/1st_Order.png?v=1729145633" loading="lazy">
          <h3> <b>10% Reward Points</b>  on your <b>1st Order</b></h3>
        </div>
        <div class="content-dos">  
          <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Order_Repeat.png?v=1729145633" loading="lazy">
          <h3> <b>15% Reward Points</b>  on all <b>Repeat Orders</b></h3>
        </div>
      </div>
  
      <div class="img-way-work">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/1_8_1.png?v=1728991061" loading="lazy">
      </div>
    </div>
  </div>  


  <div class="page-width final-rew-points">

    <div class="final-rew-points-one">
      <div class="final-rew-points-one-img reedom-img-width">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Redeem.png?v=1728988157" loading="lazy">
        <h3><i>How to</i> <b>Redeem:</b></h3>
      </div>
      <div class="final-rew-points-one-con">
        <p><b>Here comes the exciting part of our Rewards Program:</b></p>
        <ul>
        <li>1 Reward Point = Rs. 1 </li>
        <li>Redeem 5% as reward credit between cart value of 1 to 1199</li>
        <li>Redeem 10% as reward credit between cart value of 1200 to 1999</li>
        <li>Redeem 15% as reward credit between cart value of 2000 to 4999</li>
        <li>Redeem 25% as reward credit between cart value of 5000 to max</li>
        </ul> 
      </div>
    </div>

    <div class="final-rew-points-one">
      <div class="final-rew-points-one-img">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Birthday_Delight.png?v=1728988156" loading="lazy">
        <h3><i>Birthday</i> <b>Delight!</b></h3>
      </div>
      <div class="final-rew-points-one-con">
        <p>Your birthday is an extremely special day and we want to help make it more exciting! </p>
        <p>Get 500 RAS™ Reward Points on your Birthday i.e. Rs. 500 for you to redeem at your next order on our website! </p>
      </div>
    </div>

    <div class="final-rew-points-one">
      <div class="final-rew-points-one-img">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/Refferal.png?v=1728988156" loading="lazy">
        <h3><i>Referral</i> <b>joy!</b></h3>
      </div>
      <div class="final-rew-points-one-con">
        <p>Spread some RAS™ goodness with your friends and family and enjoy additional Reward Points for both! Double the Benefits, Double the Glow!</p>
        <p>Get 200 RAS™ Reward Points i.e. Rs. 200/- OFF every time your referred person’s first purchase on the website is realized.</p>
        <p>What’s more? Your friend gets Rs. 200 OFF on their first order too.</p>
      </div>
    </div>

    <div class="final-rew-points-one">
      <div class="final-rew-points-one-img">
        <img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/RecycleWithRas.png?v=1728988156" loading="lazy">
        <h3 class="rycycle-with-ras"><i>#RecycleWithRAS</i> <b>Just got better!</b></h3>
      </div>
      <div class="final-rew-points-one-con">
        <p>Our unique #RecycleWithRas program is a fun and impactful way to give back to the planet while earning rewards! Here’s how you can join the movement:</p>
        <p>For every 6ml empty you return, you get 25 reward points each and for every full-size empty you return, you get 100 reward points each which you can redeem anytime!</p>
      </div>
    </div>

  </div>

</div>

<style>
  /* Banner Image Styles */
  .reward-main-img-new img {
    display: block;
    width: 100%;
    height: auto;
  }
  .mobile-new {
    display: none;
  }

  /* Section Spacing common override if needed, or rely on page-width margins */
  .reward-page {
    margin-bottom: 50px;
  }

  /* How It Works Section */
  .reward-how-it-works {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .reward-how-it-works h2 {
    font-size: 32px;
    margin-bottom: 40px;
    text-transform: uppercase; letter-spacing: 1px;
  }
  .reward-how-it-content {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
  }
  .reward-how-it-content > div {
      flex: 1;
      min-width: 200px;
      max-width: 300px;
      text-align: center;
  }
  .reward-how-it-content img {
      max-width: 100px;
      margin-bottom: 15px;
  }
  .reward-how-it-content p {
      font-weight: 600;
      font-size: 18px;
  }

  /* Multiple Ways Works Section */
  .multiple-ways-works {
      padding-bottom: 50px;
  }
  .main-way-work {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      flex-wrap: wrap;
  }
  .content-way-work, .img-way-work {
      flex: 1;
  }
  .img-way-work img {
      width: 100%;
      height: auto;
      border-radius: 10px; /* Optional aesthetics */
  }
  .content-way-work h2 {
      font-size: 28px;
      margin-bottom: 30px;
  }
  .content-dos {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background: #fdfdfd; 
      padding: 10px;
      border-radius: 8px;
  }
  .content-dos img {
      width: 50px;
      margin-right: 20px;
  }
  .content-dos h3 {
      font-size: 16px;
      margin: 0;
      font-weight: 400;
  }
  .content-dos h3 b {
      font-weight: 700;
  }

  /* Final Rewards Points Section */
  .final-rew-points {
      padding-bottom: 60px;
  }
  .final-rew-points-one {
      display: flex;
      margin-bottom: 40px;
      align-items: flex-start;
      gap: 40px;
      border-bottom: 1px solid #eee;
      padding-bottom: 40px;
  }
  .final-rew-points-one:last-child {
      border-bottom: none;
  }
  .final-rew-points-one-img {
      flex: 0 0 250px;
      text-align: center;
  }
  .final-rew-points-one-img img {
      max-width: 120px; 
      margin-bottom: 15px;
  }
  .final-rew-points-one-img h3 {
      font-size: 22px;
      margin: 0;
      line-height: 1.2;
  }
  .final-rew-points-one-con {
      flex: 1;
  }
  .final-rew-points-one-con p {
      margin-bottom: 15px;
      line-height: 1.6;
      font-size: 16px;
  }
  .final-rew-points-one-con ul {
      margin-left: 20px;
      list-style-type: disc;
  }
  .final-rew-points-one-con li {
      margin-bottom: 5px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .desktop-new { display: none; }
    .mobile-new { display: block; }
    
    .reward-how-it-content, .main-way-work, .final-rew-points-one {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .content-dos {
        flex-direction: row; /* keep row on mobile usually better for lists */
        text-align: left;
    }
    
    .final-rew-points-one-img {
        flex: auto;
        width: 100%;
        margin-bottom: 20px;
    }
    .final-rew-points-one-con {
        width: 100%;
        text-align: left;
    }
    .reward-how-it-content img {
        margin: 0 auto 15px; 
    }
  }
</style>
