
<div class="page-width vide--section">
  <div class="video-wrapx vsr-desktops">
    <video controls="false" poster="//www.rasluxuryoils.com/cdn/shop/files/download_-_2024-11-19T182011.198_dc5b6c52-d09a-40b7-8f3e-e3e7dc71be27.png?v=1746095134" width="100%" autoplay loop muted playsinline>
      <source src="https://cdn.shopify.com/videos/c/o/v/3403d359fab5478d89d277ed6dab6dba.mp4" type="video/mp4">
    </video>
  </div>
</div>

<style>
  .vide--section h2 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
  }

  .vide--section {
    max-width: 1440px;
    text-align: center;
    margin: 0 auto;
  }

  .video-wrapx {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    border-radius: 14px;
    overflow: hidden;
  }

  .video-wrapx video {
    width: 100%;
    display: block;
    border-radius: 14px;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
  }

  .video-wrapx.vsr-mobile {
    display: none;
  }

  @media screen and (max-width: 749px) {
    .video-wrapx.vsr-mobile {
      display: block;
    }
    .video-wrapx.vsr-desktop {
      display: none;
    }
    .video-wrapx {
      padding-bottom: 30px;
    }
  }
</style>

{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div class="multicolumn color-background-1 gradient background-none no-heading">
  <div class="page-width isolate">
    <slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--3-col-desktop" role="list">
        
        <li class="multicolumn-list__item grid__item">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
              <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                <img class="multicolumn-card__image" 
                     src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_11_bf72914e-adbc-47a8-8433-a6f73d7703f0.webp?v=1755688816&width=550" 
                     alt="Delhi Store" height="600" width="600" loading="lazy">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3>Delhi</h3>
              <div class="rte">
                <p><strong>Nexus Select City Walk Mall A–3</strong>,</p>
                <p>Ground Floor Shop No. G–02–A,<br>District Centre <strong>Saket, Delhi</strong> - 110017</p>
              </div>
              <a class="link animate-arrow" role="link" aria-disabled="true">Contact: +91 74009 89670
                <span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                </svg></span>
              </a>
            </div>
          </div>
        </li>

        <li class="multicolumn-list__item grid__item">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
              <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                <img class="multicolumn-card__image" 
                     src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_6_dfca280d-dfbe-4e11-bd36-62841826bd57.png?v=1744953699&width=550" 
                     alt="Trivandrum Store" height="1080" width="1080" loading="lazy">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3>Thiruvananthapuram, Kerala</h3>
              <div class="rte">
                <p><strong>Lulu Mall,</strong> Unit No. C 09 , Akkulam Bridge, Anayara Post, <strong>Thiruvananthapuram, Kerala</strong> - 695029</p>
              </div>
              <a class="link animate-arrow" role="link" aria-disabled="true">Contact: +91 74009 89650
                <span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                </svg></span>
              </a>
            </div>
          </div>
        </li>

        <li class="multicolumn-list__item grid__item">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
              <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                <img class="multicolumn-card__image" 
                     src="//www.rasluxuryoils.com/cdn/shop/files/1_90952dbf-5765-41fb-b235-9053a3f6bb03.jpg?v=1732184341&width=550" 
                     alt="Navi Mumbai Store" height="1080" width="1080" loading="lazy">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3>Navi Mumbai, Maharashtra</h3>
              <div class="rte">
                <p><strong>Nexus Seawoods Mall,</strong> Unit No. UG-64A, <strong>Navi Mumbai, Maharashtra </strong>- 400706</p>
              </div>
              <a class="link animate-arrow" role="link" aria-disabled="true">Contact: +91 74009 89700
                <span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                </svg></span>
              </a>
            </div>
          </div>
        </li>

        <li class="multicolumn-list__item grid__item">
          <div class="multicolumn-card content-container">
            <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
              <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                <img class="multicolumn-card__image" 
                     src="//www.rasluxuryoils.com/cdn/shop/files/2_37b8304d-695e-4006-9948-41cc246a0c7d.jpg?v=1732184367&width=550" 
                     alt="Raipur Store" height="1080" width="1080" loading="lazy">
              </div>
            </div>
            <div class="multicolumn-card__info">
              <h3>Raipur, Chhattisgarh</h3>
              <div class="rte">
                <p><strong>Magneto The Mall,</strong> Shop No. - Ground Floor - Gf 22c, Telibandha, <strong>Raipur</strong>, <strong>Chhattisgarh </strong>- 492006</p>
              </div>
              <a class="link animate-arrow" role="link" aria-disabled="true">Contact: +91 92019 76014
                <span class="icon-wrap">&nbsp;<svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
                </svg></span>
              </a>
            </div>
          </div>
        </li>

      </ul>
    </slider-component>
  </div>
</div>
