
<div class="page-recycle-with-ras">
  <section id="shopify-section-template--20752115040482__1659333932212a4f3b" class="shopify-section section">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <style data-shopify="">
      .section-template--20752115040482__1659333932212a4f3b-padding {
        padding-top: 30px;
        padding-bottom: 0px;
      }
      @media screen and (min-width: 750px) {
        .section-template--20752115040482__1659333932212a4f3b-padding {
          padding-top: 40px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="isolate">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--20752115040482__1659333932212a4f3b-padding">
        <div class="rich-text__blocks">
          <h2 class="h1">Recycle With RAS™</h2>
          <div class="rich-text__text rte">
            <p><strong>We want those RAS™</strong> <strong>empties and you will be rewarded for every empty you send our way!</strong></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="shopify-section-template--20752115040482__1659334086f5165217" class="shopify-section section">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <style data-shopify="">
      .section-template--20752115040482__1659334086f5165217-padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      @media screen and (min-width: 750px) {
        .section-template--20752115040482__1659334086f5165217-padding {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="isolate">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--20752115040482__1659334086f5165217-padding">
        <div class="rich-text__blocks">
          <div class="rich-text__text rte">
            <p>100% of the packaging material that we use is either recyclable and/or reusable. We always strive to make choices that would not only benefit our customers but our beautiful planet too. Reducing our carbon footprint on Earth is our way of doing things to make this planet sustainable for generations to come.<br><br>We bring forth to you - Recycle with <br>RAS™.</p>
            <p>Under this initiative, we will collect&nbsp;&nbsp;your <br>RAS™ empties so that we can recycle them for you. By recycling, we wish to reduce the amount of packaging waste from ending up into the landfill and reuse the resources where possible.<br>We hope through this we can all make environmentally conscious choices, we are ready to do our bit. Are you?</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="shopify-section-template--20752115040482__16593341697cfab76e" class="shopify-section section">
    <link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
    <style data-shopify="">
      .section-template--20752115040482__16593341697cfab76e-padding {
        padding-top: 15px;
        padding-bottom: 0px;
      }
      .page-about .image-with-text__heading {
        font-family: Athelas;
      }
      @media screen and (min-width: 750px) {
        .section-template--20752115040482__16593341697cfab76e-padding {
          padding-top: 20px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="image-with-text about-ingredients image-with-text--no-overlap page-width isolate collapse-corners section-template--20752115040482__16593341697cfab76e-padding">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
        <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
          <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 100.0%;">
            <img srcset="//www.rasluxuryoils.com/cdn/shop/files/It_s_simple._Send_us_your_empty_RAS_bottlescontainers_and_we_will_recycle_them_for_you._For_every_single_empty_you_return_you_get_100_points_each_which_amounts_to_Rs_100_and_you_can_r.png?v=1727698961&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/It_s_simple._Send_us_your_empty_RAS_bottlescontainers_and_we_will_recycle_them_for_you._For_every_single_empty_you_return_you_get_100_points_each_which_amounts_to_Rs_100_and_you_can_r.png?v=1727698961&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/It_s_simple._Send_us_your_empty_RAS_bottlescontainers_and_we_will_recycle_them_for_you._For_every_single_empty_you_return_you_get_100_points_each_which_amounts_to_Rs_100_and_you_can_r.png?v=1727698961 480w" src="//www.rasluxuryoils.com/cdn/shop/files/It_s_simple._Send_us_your_empty_RAS_bottlescontainers_and_we_will_recycle_them_for_you._For_every_single_empty_you_return_you_get_100_points_each_which_amounts_to_Rs_100_and_you_can_r.png?v=1727698961&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="480" height="480">
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--template--20752115040482__16593341697cfab76e" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container">
            <h2 class="image-with-text__heading h1">What’s in it for you ?</h2>
            <div class="image-with-text__text rte body">
              <p>Utter satisfaction of helping save Mother Earth by reducing packaging wastage by helping us recycle your empties<br>AND some great REWARDS such as:<br>For<strong> </strong>every 6ml empty you return, you get 25 reward points each and for every full-size empty you return, you get 100 reward points each which you can redeem anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="shopify-section-template--20752115040482__165933426137742513" class="shopify-section section">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <style data-shopify="">
      .section-template--20752115040482__165933426137742513-padding {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      @media screen and (min-width: 750px) {
        .section-template--20752115040482__165933426137742513-padding {
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    </style>
    <div class="isolate">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--20752115040482__165933426137742513-padding">
        <div class="rich-text__blocks">
          <h2 class="h2">All you need to do is:</h2>
          <div class="rich-text__text rte">
            <p>Fill this google form: Please help us by filling up this short form which will then help our team get back to you with a pick up label:</p>
          </div>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSesIw0lgJJskJ-r8eFrCEDxtQkud5aBvSHitU8n-RJbzkgYyA/viewform?usp=sf_link" class="button button--primary">Create your pickup now</a>
        </div>
      </div>
    </div>
  </section>

  <section id="shopify-section-template--20752115040482__1659334376e2dc6696" class="shopify-section section">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">
    <link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
    <style data-shopify="">
      .section-template--20752115040482__1659334376e2dc6696-padding {
        padding-top: 0px;
        padding-bottom: 39px;
      }
      @media screen and (min-width: 750px) {
        .section-template--20752115040482__1659334376e2dc6696-padding {
          padding-top: 0px;
          padding-bottom: 52px;
        }
      }
    </style>
    <div class="isolate">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-template--20752115040482__1659334376e2dc6696-padding">
        <div class="rich-text__blocks">
          <h2 class="h1"></h2>
          <div class="rich-text__text rte">
            <p>Pack your empties in a box</p>
            <p>Paste our <br>RAS™ address on the top of the box</p>
            <p>Wait for our Bluedart partner to come collect that box. That’s all!</p>
            <p>The moment we receive your empties, we’ll review them and credit the points in your account!</p>
            <p><strong>Happy Planet<br>Happy You<br>Happy RAS™</strong><br><br></p>
            <p>For any assitance feel free to dm us/ Call us on 9329773003 or email us on care@rasluxuryoils.com&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
