<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div id="shopify-section-ingredients-section" class="shopify-section">
  <div class="page-width ingredients">
    <h1 class="main-page-title page-title h0">
      <em>Our</em> <span>Ingredients</span>
    </h1>
    
    <p class="sub-title" style="text-align: center;">
      All our ingredients are grown organically in our own farms and sourced from local farmers for purity and freshness. Only the most potent ingredients are picked based on their efficacy to treat specific skin concerns. Enriched with the goodness of botanicals, every RAS™ product comes with a promise of luxurious clean beauty.
    </p>
    
    <div class="rte">
      <div class="parent" style="justify-content: center;">
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/24k_Gold.png?v=1681389800" alt="">
          </div>
          <div class="press_date">
            <h3>24K Gold</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Repairs &amp; prevents signs of aging</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Saffron_c583b838-3653-4cb7-ab8c-fbf0541c76f8.png?v=1683717832" alt="">
          </div>
          <div class="press_date">
            <h3>Saffron</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Saffron is crimson coloured stigma or styles of a flower called saffron crocus. It has many therapeutic benefits like anti-inflammatory, and is commonly used in skincare products, perfumes, cooking and medicines.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Rosehip.png?v=1681204083" alt="">
          </div>
          <div class="press_date">
            <h3>Rosehip Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Rose hip oil is derived by cold pressing the seeds of wild rose bushes. This oil is filled with goodness that protects the skin, hydrates, fights free radical damage, reduces signs of ageing, restores skin elasticity and reduces blemishes.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Pomegranate.png?v=1681204048" alt="">
          </div>
          <div class="press_date">
            <h3>Pomegranate</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Pomegranate is rich in Vitamic C and antioxidants that helps in giving a radiant and glowing skin tone. It also helps in reducing pigmentation, sun spots and wrinkles.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Calendula.png?v=1681202369" alt="">
          </div>
          <div class="press_date">
            <h3>Calendula</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It is a plant with antifungal and antimicrobial properties that helps in healing many skin problems and prevents infection.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Sandalwood.png?v=1681204282" alt="">
          </div>
          <div class="press_date">
            <h3>Sandalwood</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It is a wood with a sweet, potent and lasting aroma. Widely used in the perfume industry and aromatic products, it is also used for spiritual and medicinal purposes.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Manjistha.png?v=1731570062" alt="">
          </div>
          <div class="press_date">
            <h3>Manjistha</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Manjistha is a herbaceous creeper which is used in its dried form. It has excellent therapeutic benefits which helps in blood purification while the antibacterial and anti-inflammatory properties inhibits acne causing bacteria and other skin problems.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Hempseed.png?v=1690197882" alt="">
          </div>
          <div class="press_date">
            <h3>Hempseed</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Nuts of the hemp plant are known as hemp seeds. They are cold-pressed for oil extraction that is rich in nutrients. It offers many health benefits and moisturises the skin without clogging the pores. Hemp oil makes skin softer, plump and supple and with regular use it reduces fine lines and wrinkles.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Avocado.png?v=1681196666" alt="">
          </div>
          <div class="press_date">
            <h3>Avocado</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It is a fruit with a large pit and a seed. Avocado oil is extracted from the flesh of the fruit and has intense moisturising properties, protects skin from damaging UV rays and also helps in boosting collagen.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Olive_Squalane.png?v=1681469771" alt="">
          </div>
          <div class="press_date">
            <h3>Olive Squalane</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It is a lightweight and non-sticky virgin olive oil that deeply nourishes and moisturizes the skin enhancing the natural glow.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Jojoba.png?v=1681204207" alt="">
          </div>
          <div class="press_date">
            <h3>Jojoba seed oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Jojoba seed oil is extracted from the seeds of jojoba plant and is mainly used in medicines. When applied on the skin it deeply moisturises, soothes, and prevents acne caused by clogged pores.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Argan.png?v=1731570245" alt="">
          </div>
          <div class="press_date">
            <h3>Argan oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>This oil is derived from the kernels of Argan trees. It has a high concentration of Vitamin E that makes it effective in boosting immunity. It is mainly used to moisturise skin and scalp, for contolling sebum production and treat acne.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Moringa.png?v=1690362230" alt="">
          </div>
          <div class="press_date">
            <h3>Moringa oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>This anti-inflammatory and antioxidant rich oil is very effective to hydrate dry skin and treat skin problems caused due to dryness. It boosts skin's collagen production, detoxifies from impurities and environmental damage and also gives a healthy radiance.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Tea_Tree.png?v=1681204462" alt="">
          </div>
          <div class="press_date">
            <h3>Green Tea</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It has powerful antioxidants that fight damage caused by UV rays. Also a potent anti-ageing ingredient that combats signs of ageing when ingested or applied topically.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Orange.png?v=1681204165" alt="">
          </div>
          <div class="press_date">
            <h3>Orange Peel Extract</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Orange Peel extract high vitamin C content combats free radical damage which can harm skin cells and cause premature signs of ageing.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Lavender.png?v=1681204239" alt="">
          </div>
          <div class="press_date">
            <h3>Lavender Essential Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Lavender essential oil has many benefits on the mind and body including reducing emotional stress and anxiety, improves sleep, relieves pain and helps to heal burns and wounds.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Lemon_8cdd1b23-bb98-43b4-8be1-2f9b951579ea.png?v=1681204006" alt="">
          </div>
          <div class="press_date">
            <h3>Lemon Essential Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>"It significantly helps the absorption of Vitamin C and can aid in the management of blemishes, fine lines, and hyperpigmentation."</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Hibiscus_f4c080c9-dd64-430d-ae77-5adc62d35219.png?v=1681204118" alt="">
          </div>
          <div class="press_date">
            <h3>Hibiscus flower extract</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>the moisturising properties of hibiscus helps in keeping the skin supple and youthful. It enhances the skin's ability to retain moisture and alpha hydroxy acids helps with natural collagen boosting.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Licorice.png?v=1681476811" alt="">
          </div>
          <div class="press_date">
            <h3>Licorice Extract</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Licorice help diminish the appearance of dark under-eye circles, discoloration and age spots, protect the skin from environmental stressors.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Rose_fd0bc721-f511-4082-badf-5eb4ed93747f.png?v=1731570613" alt="">
          </div>
          <div class="press_date">
            <h3>Rose Essential Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Rose essential oil enhances the skin’s ability to absorb, thus facilitating the efficient absorption of its rich nutrients and aroma.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Sweet_Almond.png?v=1681204437" alt="">
          </div>
          <div class="press_date">
            <h3>Sweet Almond Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>It is rich in Vitamin E and helps to smoothen and cleanse the skin.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Coconut.png?v=1681203193" alt="">
          </div>
          <div class="press_date">
            <h3>Coconut Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Coconut oil is an excellent moisturizer that aids smoothening and deep cleansing of the skin for a flawless appearance.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Red_Algae.jpg?v=1683704356" alt="">
          </div>
          <div class="press_date">
            <h3>Red Algae</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Enhances skin barrier strength retaining moisture.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Hog_Plum.png?v=1731571196" alt="">
          </div>
          <div class="press_date">
            <h3>Hog Plum</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Boost body immunity, fights anaemia, keeps the heart healthy and aids in digestion.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Rosemary.png?v=1681204372" alt="">
          </div>
          <div class="press_date">
            <h3>Rosemary</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Uplifts the mood</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Ylang_Ylang.png?v=1731670573" alt="">
          </div>
          <div class="press_date">
            <h3>Ylang Ylang</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Contributes a calming and exotic floral aroma to the body mist, promoting a sense of relaxation when sprayed on the skin.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Gotu_Kola.png?v=1681203351" alt="">
          </div>
          <div class="press_date">
            <h3>Gotu Kola</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Detoxifies skin and locks in moisture</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Mulberry.jpg?v=1683705136" alt="">
          </div>
          <div class="press_date">
            <h3>Mulberry</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Reduces dark spots &amp; discolorations</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Neem.png?v=1681204411" alt="">
          </div>
          <div class="press_date">
            <h3>Neem</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Anti-bacterial properties, treats acne and pigmentation</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Vanilla.png?v=1731671083" alt="">
          </div>
          <div class="press_date">
            <h3>Vanilla</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Adds a comforting and soothing scent to the body mist, creating a relaxing and pleasant atmosphere when applied to the skin.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Amla.png?v=1681194063" alt="">
          </div>
          <div class="press_date">
            <h3>Amla</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Vitamin C rich, reduce spots</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Licorice.png?v=1681476811" alt="">
          </div>
          <div class="press_date">
            <h3>Licorice</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Repairs skin damage &amp; pigmentation</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Aloevera.png?v=1681203028" alt="">
          </div>
          <div class="press_date">
            <h3>Aloevera</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Skin conditions and was thought to improve baldness and promote wound healing.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Argan.png?v=1731570245" alt="">
          </div>
          <div class="press_date">
            <h3>Argan</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Dip bread at breakfast or to drizzle on couscous or pasta. It is also used for cosmetic purposes.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Avocado.png?v=1681196666" alt="">
          </div>
          <div class="press_date">
            <h3>Avocado</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Intense nourishment and moisturization</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Beetroot.jpg?v=1683704338" alt="">
          </div>
          <div class="press_date">
            <h3>Beet Root</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Prevents skin damage</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Chamomile.png?v=1681202807" alt="">
          </div>
          <div class="press_date">
            <h3>Chamomile</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Anti-inflammatory properties soothe the skin</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Frankincense_71ce9544-9660-4187-b1e8-dda337141229.png?v=1731673232" alt="">
          </div>
          <div class="press_date">
            <h3>Frankincense</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Frankincense is a hardened gum-like material (resin) that comes from the trunk of the Boswellia tree.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Ashwagandha.png?v=1681196277" alt="">
          </div>
          <div class="press_date">
            <h3>Ashwagandha</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Helps in nourishing tissues and bones and also reduces muscle spasms.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Bakuchiol.png?v=1731672635" alt="">
          </div>
          <div class="press_date">
            <h3>Bakuchiol</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Naturally derived from bakuchi plant that mimics retinol</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Butters.png?v=1681197100" alt="">
          </div>
          <div class="press_date">
            <h3>Butters</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Protective barrier, nourishes and conditions, locks in moisture</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Copper_Peptides.png?v=1731672788" alt="">
          </div>
          <div class="press_date">
            <h3>Copper Peptides</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Boosts collagen production, improves elasticity, and strengthens the skin barrier.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Geranium.png?v=1689842419" alt="">
          </div>
          <div class="press_date">
            <h3>Geranium Essential Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Its anti-inflammatory and anti-bacterial qualities are highly soothing for the skin. It even makes the skin supple and radiant.</p>
          </div>
        </div>
        
        <div class="one-forth-div">
          <div class="press_img">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/Tea_Tree.png?v=1681204462" alt="">
          </div>
          <div class="press_date">
            <h3>Tea Tree Essential Oil</h3>
          </div>
          <a href="#" class="show_hide" data-content="toggle-text">Know Its Benefits &gt; </a>
          <div class="press_des content" style="display: none;">
            <p>Tea Tree essential oil is known to be an incredible treatment for acne-prone skin and ichy scalp due to its powerful antiseptic properties.</p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="ingredients-avoid">
      <h2>Ingredients We Avoid</h2>
      <div class="tab-pane">
        <div class="row aboid-line">
          <div class="col-4">
            <h4>Silicones</h4>
          </div>
          <div class="col-md-8">
            <p>Ubiquitous is most beauty products, silicones are polymers with multiple names making it hard
            to identify their presence in skincare products. They act like a barrier on skin blocking pores and
            trapping debris, bacteria, sebum and dead skin cells.</p>
          </div>
        </div>
        <div class="row aboid-line">
          <div class="col-4">
            <h4>Parabens</h4>
          </div>
          <div class="col-md-8">
            <p>Used as a preservative in several products, presence of Parabens has been linked with breast
            cancer, reproductive disabilities and general irritation of skin. It reacts with UVB leading to
            additional damage and aging of skin.</p>
          </div>
        </div>
        <div class="row aboid-line">
          <div class="col-4">
            <h4> Sodium Lauryl Sulphate</h4>
          </div>
          <div class="col-md-8">
            <p>Being an inexpensive chemical added to most foaming beauty products it Is also found in
            pesticides, car batteries. It is linked to cause irritation of eyes skin and has corrosive properties.</p>
          </div>
        </div>
        <div class="row aboid-line">
          <div class="col-4">
            <h4>Petroleum based or Mineral Oils</h4>
          </div>
          <div class="col-md-8">
            <p>Being extracted from crude oil, they are contaminated with several toxic impurities. Potentially
            carcinogenic and can disrupt endocrine hormonal balance.</p>
          </div>
        </div>
        <div class="row aboid-line">
          <div class="col-4">
            <h4>Phthalates</h4>
          </div>
          <div class="col-md-8">
            <p>Linked to reproductive toxicity, endocrine disruption and cancer. High presence of phthalate is
            seen in color cosmetics and artificially fragranced products.
            Also, keep an eye on presence of high concentration of heavy metals like Zinc, Cadmium in your
            products. Formaldehyde, Talc, artificial color, artificial fragrances have also been linked to skin
            irritation and hormonal imbalances. Avoiding all these will have a positive impact on your skin
            and your long-term health and well-being.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
 .ingredients .main-page-title{
   font-size: 34px;
    font-family: Playfair Display;
    letter-spacing: .8px;
    position: relative;
    margin: 30px auto;
    text-align: center;
    width: 300px;
    height: 45px;
 }

 .ingredients .rte{
      margin-top: 40px;
}


  
 .ingredients .main-page-title span {
    border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}

  
  .shopify-section .page-width.ingredients {
    padding-bottom: 30px!important;
}
  
 .ingredients .one-forth-div {
    width: 20%;
    margin: 0 25px;
    text-align: center;
    border: none;
    margin-bottom: 25px;
}
  .ingredients .parent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
   .ingredients .shopify-section .page-width.ingredients {
    padding-bottom: 30px!important;
}
  .page-ingredients .press_date h3{
    margin-bottom: 5px; 
    text-transform: capitalize;
    }
    .page-ingredients .press_des p{
    padding: 0px 10px;
          margin-top: 5px;
    }

      
      .ingredients-avoid{    
      margin-top: 40px;
      }
      
      .ingredients-avoid h2{
      text-align: center;
      font-size: 22px;
            margin-bottom: 0;
      }

.ingredients-avoid .aboid-line {
    border-bottom: 1px solid #ecc33c;
    padding-top: 10px;
    padding-bottom: 10px;
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
  align-items: center;
}

.ingredients-avoid .aboid-line .col-4{
     width: 25%;
}
 
.ingredients-avoid .aboid-line .col-md-8{
     width: 75%;
}
  
.ingredients-avoid .aboid-line .col-4 h4{
  font-size: 16px;
    width: 250px;
}


.ingredients .sub-title{
    max-width: 1000px;
      margin: 0 auto;
}
  
  @media only screen and (max-width: 749px){
    .ingredients .one-forth-div {
         width: 45%;
        margin: 0px;
        margin-bottom: 15px;
    }

.ingredients .sub-title {
      max-width: 100%;
    margin: 0 auto;
      text-align: center;
    font-size: 14px;
    line-height: 20px;
      padding: 0px 10px;
}

    .ingredients .rte {
    margin-top: 20px;
}

.shopify-section .page-width.ingredients{
      padding: 0;
}

.page-ingredients .press_date h3{
      font-size: 16px;
    margin-bottom: 0px;
}

.page-ingredients .press_des p {
    padding: 0px;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 0;
  line-height: 20px;
}

    
  .shopify-section .page-width.ingredients .show_hide{
        font-size: 14px;
  }  
    .page-ingredients .main-page-title{
          padding-top: 15px;
        margin-top: 0;
        width: 100%;
        font-size: 26px;
        margin-bottom: 15px;
    }

     .page-ingredients .ingredients-avoid .aboid-line .col-4 h4 {
    margin: 0;
}

    .page-ingredients .ingredients-avoid .aboid-line .col-md-8 {
    width: 100%;
}

     .page-ingredients .ingredients-avoid .aboid-line .col-4 {
    width: 100%;
}

 .page-ingredients .ingredients-avoid .aboid-line .col-4 h4 {
    font-size: 16px;
    width: 100%;
}
    .page-ingredients .ingredients-avoid {
    margin-top: 10px;
}

     .page-ingredients .ingredients-avoid h2 {
    text-align: center;
    font-size: 22px;
    margin: 0;
}

.ingredients .parent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    gap: 10px;
      justify-content: center;
}
    
.ingredients .tab-pane{
   padding: 0px 15px;
}
    
   .ingredients .tab-pane p{
        font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
   }

    
  }
</style>

<script>
  $(document).ready(function () {
    $(".content").hide();
    $(".show_hide").on("click", function (event) {
        var txt = $(".content").is(':visible') ? 'Know Its Benefits >' : 'Know Its Benefits >';
        $(".show_hide").text(txt);
        $(this).next('.content').slideToggle(200);
    event.preventDefault();
    });
  
  });
</script>
