
<div class="page-b2b">
  <!-- Slider Section -->
  <section class="homeslider">
    <div class="swiper homeslider">
      <div class="swiper-wrapper">
        <div class="swiper-slide icon-overlay-container">

        </div>
      </div>
      <div class="swiper-button-next"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/right.png?v=1650397535" alt=""></div>
      <div class="swiper-button-prev"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/left.png?v=1650397535" alt=""></div>
    </div>
  </section>

  <!-- Video Section -->
  <section class="page-width vide--section">
    <div class="video-wrapx vsr-desktop">
      <video autoplay controls="false" poster="//www.rasluxuryoils.com/cdn/shop/files/download_77.webp?v=1703924325" width="100%">
        <source src="https://cdn.shopify.com/videos/c/o/v/44c4194c534b42a78d1d0eb7a498a654.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video-wrapx vsr-mobile">
      <video controls="false" poster="//www.rasluxuryoils.com/cdn/shop/files/download_86.webp?v=1703924353" width="100%">
        <source src="https://cdn.shopify.com/videos/c/o/v/f9aa095bfec64d8189fbb5d41505b9a4.mp4" type="video/mp4">
      </video>
    </div>
  </section>

  <style>
    .vide--section h2{
      text-transform: uppercase;
      text-align: center;
      margin-top: 0px;
    }
    .vide--section{
      max-width: 1440px;
      text-align: center;
      margin: 0 auto;
    }
    .video-wrapx {
      text-align: center;
      width: 100%;
      padding-top: 0px;
      padding-bottom: 30px;
      border-radius: 14px;
      overflow: hidden;
    }
    .video-wrapx video {
      width: 100%;
      display: block;
      border-radius: 14px;
      overflow: hidden;
      height: 100%;
      object-fit: cover;
    } 
    .video-wrapx.vsr-mobile{
      display: none;
    }
    @media screen and (max-width:749px){
      .video-wrapx video {
        height: 100%;
        object-fit: cover;
      }
      .video-wrapx.vsr-mobile{
        display: block;
      }
      .video-wrapx.vsr-desktop{
        display: none;
      }
      .video-wrapx {
        padding-bottom: 30px;
      }
    }
  </style>

  <!-- Art of Gifting Section -->
  <section class="shopify-section section">
    <div class="page-width">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width">
        <div class="rich-text__blocks">
          <h2 class="h1">Art of Gifting</h2>
          <div class="rich-text__text rte">
            <p>At RAS™ Luxury Skincare, we are dedicated to providing businesses like yours with premium, natural skincare products that promise not just beauty, but an indulgent experience for your clientele. As the first 'Farm to Face®' venture in India, we stand at the forefront of integrating holistic well-being with luxury skincare. Our commitment is to deliver an authentic, luxurious skincare experience, backed by our heritage of 2.5 lakh happy customers who testify to the efficacy and quality of our products.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Packed with Love (Multi-column) -->
  <section class="shopify-section section b2b-multicoloum">
    <style>
      .about-multicoloum .multicolumn .title {
        font-family: Athelas;
        margin-bottom: 15px;
      }
    </style>
    <div class="multicolumn color-background-1 gradient background-none">
      <div class="page-width isolate">
        <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
          <h2 class="title h1">Packed with Love</h2>
          <h2 class="subtitle">We handpick and carefully curate each gift box according to your needs, delivered right to your door step.</h2>
        </div>
        <div class="slider-mobile-gutter">
          <ul class="multicolumn-list contains-content-container grid grid--2-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek" role="list">
             <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/sustainable_c0e00975-a4b1-4743-b9d8-2f245c92a0ad.jpg?v=1715604168&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
                  <div class="multicolumn-card__info"><h3>SUSTAINABLE</h3></div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/handcrafted.jpg?v=1715604238&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
                  <div class="multicolumn-card__info"><h3>HANDCRAFTED</h3></div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/personalized.jpg?v=1715604715&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
                  <div class="multicolumn-card__info"><h3>PERSONALIZED</h3></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Corporate Gifting Section (Multi-column) -->
  <section class="shopify-section section">
    <div class="multicolumn color-background-1 gradient background-none no-heading">
      <div class="page-width isolate">
        <div class="slider-mobile-gutter">
          <ul class="multicolumn-list contains-content-container grid grid--2-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek" role="list">
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/1_18_8c57c9bd-75a6-4162-bf87-a258fb194f64.jpg?v=1717152425&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/2_19_10f9d103-26a5-4efb-81e6-c8f066f5cfbd.jpg?v=1717152450&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/3_15.jpg?v=1717152479&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Corporate Gifting Text -->
  <section class="shopify-section section">
    <div class="page-width">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width">
        <div class="rich-text__blocks">
          <h2 class="h1">Corporate Gifting</h2>
          <div class="rich-text__text rte">
            <p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Wedding Gifting Section (Multi-column) -->
  <section class="shopify-section section">
    <div class="multicolumn color-background-1 gradient background-none no-heading">
      <div class="page-width isolate">
        <div class="slider-mobile-gutter">
          <ul class="multicolumn-list contains-content-container grid grid--2-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek" role="list">
             <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/1_19.jpg?v=1717152534&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/2_20_ed5e8cfd-8709-4040-b501-a8e95458246a.jpg?v=1717152575&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/3_16.jpg?v=1717152602&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Wedding Gifting Text -->
    <section class="shopify-section section">
    <div class="page-width">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width">
        <div class="rich-text__blocks">
          <h2 class="h1">Wedding Gifting</h2>
          <div class="rich-text__text rte">
            <p>Celebrate love with RAS™! Make every moment memorable by giving the gift of beautiful radiant skin to the newly weds.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Festive Gifting Section (Multi-column) -->
  <section class="shopify-section section">
    <div class="multicolumn color-background-1 gradient background-none no-heading">
      <div class="page-width isolate">
        <div class="slider-mobile-gutter">
          <ul class="multicolumn-list contains-content-container grid grid--2-col-tablet-down grid--3-col-desktop slider slider--mobile grid--peek" role="list">
             <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/1_17_f66136f4-fef5-4dbf-8594-c57ca44f51a8.jpg?v=1717152240&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/2_18_b5e02f5d-382d-4f10-a6d0-c0a40b77d5b0.jpg?v=1717152270&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
            <li class="multicolumn-list__item grid__item slider__slide center">            
              <div class="multicolumn-card content-container">
                  <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                    <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                      <img class="multicolumn-card__image" src="//www.rasluxuryoils.com/cdn/shop/files/3_14_1fa74729-2c47-4e5d-8bf8-681856681138.jpg?v=1717152300&amp;width=550" alt="" loading="lazy">
                    </div>
                  </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Festive Gifting Text -->
  <section class="shopify-section section">
    <div class="page-width">
      <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width">
        <div class="rich-text__blocks">
          <h2 class="h1">Festive Gifting</h2>
          <div class="rich-text__text rte">
            <p>Celebrate the season with gift of radiant skin. Treat your loved ones to RAS™'s exclusive festive skincare collection.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Us Form Section -->
  <section class="shopify-section section">
    <div class="color-background-1 gradient">
      <div class="page-width bulk-buy__form-wrapper grid__items">
        <h2 class="heading heading-style-1">Contact Us</h2>
        <div class="bulk-buy_form">
          <p>Please complete the form below with the required details:</p>
          <div data-id="MTE2ODE4" class="globo-formbuilder"></div>
          <div class="bulk__contact-details">
            <h2>Contact Details</h2>
            <p>Name: Sai Manoj</p>
            <p>Email: <a href="mailto:sai@rasluxuryoils.com">sai@rasluxuryoils.com</a></p>
            <p>Contact:&nbsp;<a href="tel:+9193297%2073017">93297 73017</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Our Associations -->
  <section class="In_Store">
      <style>
      .In_Store {padding:30px 0;}
      .In_Store img {width:60%; margin: 0 auto; display: block;}
      .In_Store .swiper-wrapper img {width:60%;}
      .In_Store h2 {text-align:center;margin-top: 0px;}
      .In_Store .swiper-pagination-bullet {background: #000 !important;}
      @media screen and (max-width:786px){
        .In_Store {padding:20px 0;}
        .In_Store .swiper-wrapper {text-align:center;}
        .In_Store .swiper-wrapper img {width:50%;}
        .In_Store .swiper-pagination {position: relative;}
      }
    </style>
    <h2 style="text-align: center;"><em>Our</em><span>Associations</span></h2>
    <div class="page-width">
      <div class="swiper prestigiousaw">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/14_2_200x200.jpg?v=1717236359" alt=""></div>
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/13_2_200x200.jpg?v=1717139301" alt=""></div>
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/4_12_a4f6d070-3dfa-4d4a-93da-45166a29c7a5_200x200.jpg?v=1717138844" alt=""></div>
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/2_17_ae5aa3db-0914-4947-8b2a-b5b3979f7a4d_200x200.jpg?v=1717138872" alt=""></div>
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/7_1_200x200.jpg?v=1717139009" alt=""></div>
          <div class="swiper-slide"><img src="//www.rasluxuryoils.com/cdn/shop/files/12_3_9b4b8083-f2f1-447c-96da-a85a187bf05b_200x200.jpg?v=1717139280" alt=""></div>
        </div>
         <div class="swiper-button-next"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/right.png?v=1650397535" alt=""></div>
        <div class="swiper-button-prev"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/left.png?v=1650397535" alt=""></div>
      </div>
    </div>
  </section>

  <!-- Categories Section -->
  <style>
    .in-the-category a{ text-decoration: none; }
    .in-the-category p{ font-size: 16px; height: 35px; font-family: Lato,sans-serif; margin-bottom: 5px; color: #000; font-weight: 600; text-align: center; margin: 0; }
    .in-the-category {padding:5px 0;}
    .in-the-category img {width:100%;}
    .in-the-category .swiper-wrapper img {width:100%;}
    .in-the-category h2 {text-align:center;margin-top: 0px;}
    .in-the-category .swiper-pagination-bullet {background: #000 !important;}
    @media screen and (max-width:786px){
      .in-the-category {padding:5px 0;}
      .in-the-category .swiper-wrapper {text-align:center;}
      .in-the-category .swiper-wrapper img {width:100%;}
      .in-the-category .swiper-pagination {position: relative;}
    }
  </style>

  <section class="in-the-category">
    <h2> <em>Explore</em>  <span> By Categories</span></h2>
    <div class="page-width">
      <div class="swiper presticate">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <a href="/collections/best_sellers">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/bestsellers.jpg?v=1715770758" alt="">
                <p>Bestsellers</p>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="/collections/face-care">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/face-care.jpg?v=1715770844" alt="">
                <p>Face Care</p>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="/collections/lip-balm">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/lip-care.jpg?v=1715770876" alt="">
                <p>Lip Care</p>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="/collections/body-care">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/bath-and-body.jpg?v=1715770962" alt="">
                <p>Bath &amp; Body</p>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="/collections/miniature-kits">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/miniatures.jpg?v=1715771042" alt="">
                <p>Miniatures</p>
              </a>
          </div>
          <div class="swiper-slide">
              <a href="/collections/wellness">
            <img src="//www.rasluxuryoils.com/cdn/shop/files/wellness_1.jpg?v=1715771130" alt="">
                <p>Wellness</p>
              </a>
          </div>
        </div>
         <div class="swiper-button-next"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/right.png?v=1650397535" alt=""></div>
        <div class="swiper-button-prev"><img src="https://cdn.shopify.com/s/files/1/0081/9871/7493/files/left.png?v=1650397535" alt=""></div>
      </div>
    </div>
  </section>
  
  <!-- Swiper initialization script (assuming swiper library is already loaded in theme) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      new Swiper('.homeslider', {
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });

       new Swiper('.prestigiousaw', {
        slidesPerView: 2,
        spaceBetween: 20,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
         breakpoints: {
          768: {
            slidesPerView: 4,
          },
          1024: {
            slidesPerView: 6,
          },
        },
      });
      
      new Swiper('.presticate', {
        slidesPerView: 2,
        spaceBetween: 15,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          768: {
            slidesPerView: 4,
          },
          1024: {
            slidesPerView: 6,
          },
        },
      });
    });
  </script>
</div>
