<section id="shopify-section-template--20752114417890__main" class="shopify-section section"><link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-main-page.css?v=848677459125201531767088010" media="all" onload="this.media='all'">
<link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" media="all" onload="this.media='all'">

<noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-main-page.css?v=848677459125201531767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify="">.section-template--20752114417890__main-padding {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 750px) {
    .section-template--20752114417890__main-padding {
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }</style>



<div class="page-width page-width--narrow section-template--20752114417890__main-padding">
  <h1 class="main-page-title page-title h0">
    Shipping &amp; Returns
  </h1>
  <div class="rte">
    <p>&nbsp;</p>
<p><strong>Returns &amp; Refund</strong></p>
<p><span data-preserver-spaces="true">All purchases on the website are final. We accept returns only if the product is defective or damaged as examined and determined by our quality control team. Refunds will be only in the form of RAS™ e-vouchers which can be redeemed for any product in the future with a validity of 1 month.</span></p>
<p><span data-preserver-spaces="true">All refund and exchange queries will be dealt with on a case-to-case basis by the customer service team. We would urge you to share images and videos for reference during this process to have our team assist you better. Refunds for cancellation requests do not include shipping charges. Shipping fees are non-refundable.</span></p>
<p><span data-preserver-spaces="true">No return or exchange on lipsticks.</span></p>
<p><span data-preserver-spaces="true"><strong>Note:</strong>&nbsp; Any Transaction will need 6-7 working days</span></p>
<p><b>Cancellation<br></b><br>Our cancellation policy permits cancellation of orders prior to shipment, with refunds processed solely as e-vouchers for future transactions. Once an order has been dispatched, cancellation requests cannot be accommodated.<br><br></p>
<p><strong>Product Damage</strong></p>
<p><strong>Face Tools</strong></p>
<p><span data-preserver-spaces="true">In case of a broken/damaged tool received, our exchange policy lasts for 24 hours from the day of the receipt of the order. The customer service team needs to be notified as soon as the product is received, in case there are any issues. Post the stipulated timelines, the team will not be able to honor any exchanges.</span></p>
<p>&nbsp;</p>
<p><strong>Incomplete Product / Partial Product / Damaged Outer Packing / Used Product / Wrong product&nbsp;</strong></p>
<p><span data-preserver-spaces="true">&nbsp;</span></p>
<p><span data-preserver-spaces="true">In the above-mentioned cases, kindly raise the request within 24 hrs&nbsp;of receiving the product, otherwise, the request will not be entertained.</span></p>
<p><span data-preserver-spaces="true">Also, attach the images and video of outer packing and inner packing with the product from all sides,&nbsp;it help us to resolve the issue.</span></p>
<p><span data-preserver-spaces="true">In any case, where you have thrown out the boxes, we are unable to help you</span></p>
<p>&nbsp;</p>
<p><strong>Delivery issues, Issues with the delivery agent, Issues with Pod,</strong></p>
<p>&nbsp;</p>
<p><span data-preserver-spaces="true">In the above-mentioned cases kindly raise the request within 24hrs after receiving the product as this is the deadline from courier partners for such cases.</span></p>
<p><span data-preserver-spaces="true">And kindly attach your identity &amp; signature proof with the request which helps us to solve the issue</span></p>
<p>&nbsp;</p>
<p><strong>Cod/Prepaid issues, Payment issues, Delay in delivery</strong></p>
<p><span data-preserver-spaces="true">In the above-mentioned cases, kindly connect with our customer care in between&nbsp;</span></p>
<p><span data-preserver-spaces="true">9 am to 6 pm on business days.</span></p>
<p><span data-preserver-spaces="true">We are always here to help you and make you smile&nbsp;</span></p>
<p>&nbsp;</p>
<p><span data-preserver-spaces="true">Refunds will be only in the form of RAS™ e-vouchers which can be redeemed for any product in the future.</span></p>
<p>&nbsp;</p>
<p><strong>All Other Skincare</strong></p>
<p><span data-preserver-spaces="true">Eligibility for a return. It must be ensured that the item is unused and is in mint condition. It must also be in the original packaging.</span></p>
<p><span data-preserver-spaces="true">To complete your return, we require you to show a receipt or proof of purchase.</span></p>
<p>&nbsp;</p>
<p><strong>There are certain situations where only partial e-vouchers are granted (if applicable)</strong></p>
<p><span data-preserver-spaces="true">- Any item not in its original condition, is damaged or missing parts for reasons not due to our error</span></p>
<p><span data-preserver-spaces="true">- Any item that is returned more than 48 hours after delivery</span></p>
<p><br><strong>International Orders Refund and Returns Policy</strong><br><br>We do not offer refunds or returns for international orders once payment is confirmed and the order is processed. This policy applies to all products and services purchased internationally through our platform. Additionally, there is no cancellation or returns accepted after your order has been shipped. We appreciate your understanding&nbsp;of&nbsp;these&nbsp;terms.&nbsp;<br>&nbsp;</p>
<p><strong>E-vouchers (if applicable)</strong></p>
<p><span data-preserver-spaces="true">Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your e-voucher generation request. The timeline for the e-voucher generation is 48 hours after receipt of the product at our warehouse.</span></p>
<p>&nbsp;</p>
<p><strong>*Note on free gifts</strong></p>
<p>Free gifts are offered at the discretion of RAS™ Luxury&nbsp;Oils and are not open to demand outside of these offerings.&nbsp;Gifts included with purchases are not available for returns, exchanges, or store credit.</p>
<p>We reserve the right to make changes to freebies and included items based on availability.</p>
<p><span data-preserver-spaces="true">In case your order was a COD, the bank account details for the transfer of the amount need to be shared with our customer care team on&nbsp;</span><a href="mailto:care@rasluxuryoils.com" class="editor-rtfLink" target="_blank"><span data-preserver-spaces="true">care@rasluxuryoils.com</span></a><span data-preserver-spaces="true">.&nbsp;</span></p>
<p>&nbsp;</p>
<p><span data-preserver-spaces="true">In case you are purchased from 3rd party or any other e-commerce portal, then you need to connect with that portal customer care itself</span></p>
<p><span data-preserver-spaces="true">Please note, RAS™ Team will never ask you to disclose or share your personal information such as your Passwords, OTP or credit card or debit card details through WhatsApp. Please do not respond to any message on WhatsApp that asks you for such information.</span></p>
<p>&nbsp;</p>
<h2><strong>Late or missing refunds (if applicable)</strong></h2>
<p><span data-preserver-spaces="true">If you haven’t received a refund yet, we request you to first check your bank account again.</span></p>
<p><span data-preserver-spaces="true">Then contact your credit card company, it may take some time before your refund is officially posted.</span></p>
<p><span data-preserver-spaces="true">Next, contact your bank. There is often some processing time before a refund is posted.</span></p>
<p><span data-preserver-spaces="true">If you’ve done all of this and you still have not received your refund yet, please contact us at&nbsp;</span><a href="mailto:care@rasluxuryoils.com" class="editor-rtfLink" target="_blank"><span data-preserver-spaces="true">care@rasluxuryoils.com</span></a><span data-preserver-spaces="true">. We will be more than happy to assist you with your queries.</span></p>
<h2><strong>Sale items (if applicable)</strong></h2>
<p><span data-preserver-spaces="true">Only regular-priced items may be refunded, unfortunately, sale items cannot be refunded.</span></p>
<p><span data-preserver-spaces="true">All items bought in SALE are final and will not be eligible for refund or exchange unless the product is damaged.&nbsp;</span></p>
<h2><strong>Gifts</strong></h2>
<p><span data-preserver-spaces="true">If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</span></p>
<p><span data-preserver-spaces="true">If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.</span></p>
<p><span data-preserver-spaces="true">With regards to gifts at check out, please ensure that you have added the item to your cart. In the absence of doing so, the team would not be able to ship the additional products to you. In case, the team is notified after the shipment of the order, the customer will have to bear the costs accruing to INR 200 for courier charges.&nbsp;&nbsp;</span></p>
<h2><strong>Shipping</strong></h2>
<p><span data-preserver-spaces="true">To return your product, you should mail your product to RAS BEAUTY PRIVATE LIMITED C/o Adithya Bio-Tech Lab &amp; Research Pvt Ltd, 14&amp;15/7, Nandanvan Road, Chandanidih, Raipur, Chhattisgarh, India, 492099</span></p>
<p><span data-preserver-spaces="true">You will be responsible for paying for your shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</span></p>
<p><span data-preserver-spaces="true">Depending on where you live, the time it may take for your exchanged product to reach you may vary.</span></p>
<p><span data-preserver-spaces="true">If you are shipping an item over Rs.1500, you should consider using a trackable shipping service or purchasing shipping insurance. We will not be able to guarantee that we will receive your returned item.</span></p>
  </div>
</div>


</section>
