
<section id="shopify-section-about-image-banner" class="shopify-section section"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-image-banner.css?v=176487564440668880141767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">@media screen and (max-width: 749px) {
    #Banner-about-image-banner::before,
    #Banner-about-image-banner .banner__media::before,
    #Banner-about-image-banner:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: 31.25%;
      content: '';
      display: block;
    }
  }

  @media screen and (min-width: 750px) {
    #Banner-about-image-banner::before,
    #Banner-about-image-banner .banner__media::before {
      padding-bottom: 31.25%;
      content: '';
      display: block;
    }
  }</style><style data-shopify="">#Banner-about-image-banner::after {
    opacity: 0.0;
  }</style><div id="Banner-about-image-banner" class="banner banner--content-align-center banner--content-align-mobile-center banner--large banner--adapt banner--desktop-transparent" style="width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; max-width: 100vw; margin-bottom: 5rem;"><div class="banner__media media" style="position: relative; width: 100%;">
      <img srcset="//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996&amp;width=375 375w,//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996&amp;width=550 550w,//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996&amp;width=1100 1100w,//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996 1440w" sizes="100vw" src="//www.rasluxuryoils.com/cdn/shop/files/Option_2.png?v=1731138996&amp;width=1500" loading="lazy" alt="" width="1440" height="450.0" style="width: 100%; height: auto; object-fit: cover;">
    </div>
</div>



<link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" media="all" onload="this.media='all'">

<noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-rte.css?v=69919436638515329781767088010" rel="stylesheet" type="text/css" media="all" /></noscript>
<noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-rich-text.css?v=134879675850203994041767088010" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify="">.section-about-richtext-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 750px) {
    .section-about-richtext-padding {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }</style><div class="isolate">
  <div class="rich-text content-container color-background-1 gradient rich-text--full-width content-container--full-width section-about-richtext-padding" style="">
    <div class="rich-text__blocks"><div class="rich-text__text rte"><p>RAS™ (pronounced 'ruh-us'), meaning '<strong>essence</strong>' or '<strong>happiness</strong>' in Sanskrit, is India's first <strong>Farm-to-Face</strong>® luxury skincare brand. Rooted in the lush farms of Raipur, RAS™ brings the purity and potency of nature to each product. Every RAS™ creation is a blend of rare, organic ingredients sourced from sustainable farms and active botanicals, crafted to offer luxury with true efficacy.</p></div></div>
  </div>
</div>


</section>
<div id="shopify-section-about-vision" class="shopify-section section about-our-story"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-about-vision-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-about-vision-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="about-vision image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-about-vision-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
      <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 66.6667%;"><img srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535&amp;width=535 535w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535 750w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_91.png?v=1735899535&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="750" height="500"></div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--about-vision" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container" style=""><h2 class="image-with-text__heading h1">
                <em>The</em> <span> RAS™ Vision</span>
              </h2><div class="image-with-text__text rte body"><p>RAS™ was born from the passion of three women—Shubhika, her mother Sangeeta, and her sister Suramya—who shared a vision to bring uncompromising quality to skincare. Inspired by nature’s unparalleled ability to heal and restore, they set out to create high-performance skincare rooted in botanicals. Today, RAS™ is a brand devoted to enriching self-care with nature’s finest offerings, infusing each product with purpose and authenticity.</p></div></div>
    </div>
  </div>
</div>


</div><div id="shopify-section-about-our-story" class="shopify-section section about-our-story"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-about-our-story-padding {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-about-our-story-padding {
      padding-top: 36px;
      padding-bottom: 36px;
    }
  }</style><div class="image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-about-our-story-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet image-with-text__grid--reverse">
    <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
      <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 66.6667%;"><img srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534&amp;width=535 535w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534 750w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145132.830.png?v=1736414534&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="750" height="500"></div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--about-our-story" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container" style=""><h2 class="image-with-text__heading h1">
                <em>Our </em><span>Story</span>
              </h2><div class="image-with-text__text rte body"><p>We grew up on our family’s farms in Raipur, Chhattisgarh, immersed in the beauty and wisdom of the earth. It was here that we witnessed the potent effects of plants and botanicals, nurturing our belief that the most powerful skincare comes from the purest ingredients. Seeing the influx of synthetic products in the market, we knew it was time for a change. We created RAS™ to reflect our commitment to true luxury—one that honors nature, supports sustainable farming, and delivers skincare that lives up to its promise.</p><p>Partnering with farmers, cultivators, and scientists, we’ve crafted a line that celebrates India’s rich botanical heritage. With every product, we bring you the essence of our journey: pure, effective skincare that is as mindful as it is luxurious. This is only the beginning of our story, and we are honored to share it with you.</p></div></div>
    </div>
  </div>
</div>


</div><section id="shopify-section-about-multicoloum" class="shopify-section section about-multicoloum"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/section-multicolumn.css?v=138363567467112740511767088010" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-slider.css?v=120997663984027196991767088010" media="all" onload="this.media='all'">
<noscript><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-slider.css?v=120997663984027196991767088010" rel="stylesheet" type="text/css" media="all" /></noscript><style data-shopify="">.section-about-multicoloum-padding {
    padding-top: 0px;
    padding-bottom: 15px;
  }

.about-multicoloum .multicolumn .title{
     text-transform: initial;
    font-size: 34px;
    font-family: Playfair Display !important;
    letter-spacing: .5px;
    position: relative;
    text-align: center;
  margin-bottom: 15px;
}


  
  
  @media screen and (min-width: 750px) {
    .section-about-multicoloum-padding {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }</style><div class="multicolumn color-background-1 gradient background-none" style="">
  <div class="page-width section-about-multicoloum-padding isolate"><div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
        <h1 class="title h2">
          <em>The RAS™ Difference</em>  ~ <span>Farm to Face® in the Truest Sense</span>
        </h1></div><slider-component class="slider-mobile-gutter">
      <ul class="multicolumn-list contains-content-container grid grid--1-col-tablet-down grid--4-col-desktop" id="Slider-about-multicoloum" role="list"><li id="Slide-about-multicoloum-1" class="multicolumn-list__item grid__item center">            
            <div class="multicolumn-card content-container">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                  <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                    <img class="multicolumn-card__image" srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145634.885.png?v=1736414834&amp;width=275 275w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145634.885.png?v=1736414834 400w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T145634.885.png?v=1736414834&amp;width=550" sizes="(min-width: 990px) 550px,
                        (min-width: 750px) 550px,
                        calc(100vw - 30px)" alt="" height="400" width="400" loading="lazy">
                  </div>
                </div><div class="multicolumn-card__info"><h3>FARM</h3><div class="rte"><p>We begin at the source—handpicking the finest organic ingredients from our sustainable farms in Raipur. These carefully selected botanicals are transformed into pure, potent skincare formulations, infused with nature’s best to deliver real results.</p></div></div>
            </div>
          </li><li id="Slide-about-multicoloum-2" class="multicolumn-list__item grid__item center">            
            <div class="multicolumn-card content-container">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                  <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                    <img class="multicolumn-card__image" srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T192657.850.png?v=1736776649&amp;width=275 275w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T192657.850.png?v=1736776649 400w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T192657.850.png?v=1736776649&amp;width=550" sizes="(min-width: 990px) 550px,
                        (min-width: 750px) 550px,
                        calc(100vw - 30px)" alt="" height="400" width="400" loading="lazy">
                  </div>
                </div><div class="multicolumn-card__info"><h3>LAB</h3><div class="rte"><p>Our DSIR-approved labs are dedicated to years of rigorous research, crafting formulations that perfectly blend the power of nature with the precision of science. The result is skincare in its purest, most effective form, offering unparalleled results.</p></div></div>
            </div>
          </li><li id="Slide-about-multicoloum-3" class="multicolumn-list__item grid__item center">            
            <div class="multicolumn-card content-container">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                  <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                    <img class="multicolumn-card__image" srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T150517.961.png?v=1736415355&amp;width=275 275w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T150517.961.png?v=1736415355 400w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T150517.961.png?v=1736415355&amp;width=550" sizes="(min-width: 990px) 550px,
                        (min-width: 750px) 550px,
                        calc(100vw - 30px)" alt="" height="400" width="400" loading="lazy">
                  </div>
                </div><div class="multicolumn-card__info"><h3>MANUFACTURE</h3><div class="rte"><p>Each RAS™ product is crafted in-house, in small, carefully made batches to ensure the utmost freshness and potency. Committed to the highest standards, we follow stringent EU guidelines, resulting in skincare that is authentic, safe, and crafted with meticulous attention to quality. </p></div></div>
            </div>
          </li><li id="Slide-about-multicoloum-4" class="multicolumn-list__item grid__item center">            
            <div class="multicolumn-card content-container">
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--full-width multicolumn-card-spacing">
                  <div class="media media--transparent media--adapt" style="padding-bottom: 100.0%;">
                    <img class="multicolumn-card__image" srcset="//www.rasluxuryoils.com/cdn/shop/files/Ship.png?v=1731145601&amp;width=275 275w,//www.rasluxuryoils.com/cdn/shop/files/Ship.png?v=1731145601 400w" src="//www.rasluxuryoils.com/cdn/shop/files/Ship.png?v=1731145601&amp;width=550" sizes="(min-width: 990px) 550px,
                        (min-width: 750px) 550px,
                        calc(100vw - 30px)" alt="" height="400" width="400" loading="lazy">
                  </div>
                </div><div class="multicolumn-card__info"><h3>SHIP</h3><div class="rte"><p>Our dedicated logistics team works around the clock to ensure your RAS™ products are delivered to you as quickly and efficiently as possible, so your skincare experience is always timely and seamless.</p></div></div>
            </div>
          </li></ul></slider-component>
    <div class="center"></div>
  </div>
</div>


</section><div id="shopify-section-about-ingredients" class="shopify-section section"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-about-ingredients-padding {
    padding-top: 0px;
    padding-bottom: 27px;
  }

.page-about .image-with-text__heading {
  font-family: Athelas;
}

  
  @media screen and (min-width: 750px) {
    .section-about-ingredients-padding {
      padding-top: 0px;
      padding-bottom: 36px;
    }
  }</style><div class="image-with-text about-ingredients image-with-text--no-overlap page-width isolate collapse-corners section-about-ingredients-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
      <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 66.6667%;"><img srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821&amp;width=535 535w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821 750w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T191217.541.png?v=1736775821&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="750" height="500"></div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--about-ingredients" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container" style=""><h2 class="image-with-text__heading h1">
                <em>Our </em><span>Ingredients</span>
              </h2><div class="image-with-text__text rte body"><p>All our ingredients are organically grown on our own farms or sourced from local farmers, ensuring unmatched purity and freshness. We carefully select only the most potent botanicals based on their proven ability to address specific skin concerns. Enriched with these powerful botanicals, every RAS™ product comes with a promise of luxurious clean beauty.</p></div><a href="/pages/our-ingredients-1" class="button button--primary">
                  LEARN MORE
                </a></div>
    </div>
  </div>
</div>


</div><div id="shopify-section-about-three-column" class="shopify-section"><div class="page-width ingredients ras-at-core-vs">
<h1> <em>RAS™</em> <span>At Core</span></h1>
  <div class="rte">

    
   
    <div class="parent" style="justify-content: center;">
      	<div class="one-forth-div">
                 <div class="press_img">
         <img src="//www.rasluxuryoils.com/cdn/shop/files/Farm.webp?v=1736414961" alt="">
     </div>
      <div class="press_date">
    <h3>  TRANSPARENT &amp; TRUE</h3>
      </div>
          
           <div class="press_des content">
        <p> No outsourcing, no shortcuts, no adulteration—just honesty and transparency. We are committed to delivering on our promises, dedicating countless hours to create potent yet safe products. By sourcing directly from our farms and eliminating middlemen, we ensure that every ingredient is fresh and authentic, straight from the source.</p>
        </div>
        </div>
       
    
      	<div class="one-forth-div">
                 <div class="press_img">
         <img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-09T150202.790.png?v=1736415153" alt="">
     </div>
      <div class="press_date">
    <h3>  PURE &amp; POTENT</h3>
      </div>
          
           <div class="press_des content">
        <p> No false claims, no unrealistic beauty standards—just authenticity and purity, inside and out. We embrace the effectiveness of plant-based actives, ensuring that we exclude all harmful ingredients. Each step of our process upholds the integrity of every botanical, delivering skincare that truly reflects our commitment to goodness.</p>
        </div>
        </div>
       
    
      	<div class="one-forth-div">
                 <div class="press_img">
         <img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_99_d848dd1d-a923-49b6-9422-22b25310782d.png?v=1735973373" alt="">
     </div>
      <div class="press_date">
    <h3>  RESPONSIBLE &amp; REAL</h3>
      </div>
          
           <div class="press_des content">
        <p> We are committed to our farms, farmers, and consumers, approaching our work with mindfulness and responsibility. Our focus is on continuously improving the lives of farmers, women, local communities, and animals. With innovative practices and sustainable farming methods, we strive to make a positive impact at every stage of our process.</p>
        </div>
        </div>
       
    
    </div>
    
  
  </div>
			  </div>

<style>

.ras-at-core-vs h1{
      text-transform: initial;
    font-size: 34px;
    font-family: Playfair Display !important;
    letter-spacing: .5px;
    position: relative;
    text-align: center;
}
  
.ras-at-core-vs h1 span{
    border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}
  
.ras-at-core-vs .press_img img{
    width: 85%;
}

  
  .shopify-section .page-width.ingredients {
    padding-bottom: 30px!important;
}
  
 .ingredients .one-forth-div {
    width: 30%;
    margin: 0 10px;
    text-align: center;
    border: none;
    margin-bottom: 15px;
}
  .ingredients .parent {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
   .ingredients .shopify-section .page-width.ingredients {
    padding-bottom: 30px!important;
}
  .page-ingredients .press_date h3{
    margin-bottom: 5px; 
    text-transform: capitalize;
    }
    .page-ingredients .press_des p{
    padding: 0px 10px;
          margin-top: 5px;
    }


      .page-ingredients .press_date{
      padding-top: 15px;
      }
      
  
  
  @media only screen and (max-width: 749px){
    .ingredients .one-forth-div {
      width: 100%;
      margin: 0px;
      margin-bottom: 15px;
    }
    
    .page-ingredients .main-page-title{
    padding-top: 30px;
    margin-top: 0;
    }


  }
  </style>

      <script>
        /*
      $(document).ready(function () {
        $(".content").hide();
        $(".show_hide").on("click", function (event) {
            var txt = $(".content").is(':visible') ? 'Read More' : 'Read More';
            $(".show_hide").text(txt);
            $(this).next('.content').slideToggle(200);
        event.preventDefault();
        });
      
      });
        */
      </script>





</div><div id="shopify-section-about-press" class="shopify-section section"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-about-press-padding {
    padding-top: 0px;
    padding-bottom: 27px;
  }

  @media screen and (min-width: 750px) {
    .section-about-press-padding {
      padding-top: 0px;
      padding-bottom: 36px;
    }
  }</style><div class="image-with-text image-with-text--no-overlap page-width isolate collapse-corners section-about-press-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet image-with-text__grid--reverse">
    <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--middle grid__item">
      <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 66.6667%;"><img srcset="//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690&amp;width=535 535w,//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690 750w" src="//www.rasluxuryoils.com/cdn/shop/files/Award_2.jpg?v=1736578690&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="750" height="500"></div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--about-press" class="image-with-text__content image-with-text__content--middle image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container" style=""><h2 class="image-with-text__heading h1">
                <em>Awards</em> &amp; <span>Press</span>
              </h2><div class="image-with-text__text rte body"><p>Our commitment to quality and passion for organic, natural skincare have earned recognition from some of the country’s most prestigious awards and leading beauty magazines. We take immense pride in these accolades, which reflect the unwavering support of our patrons throughout our journey.</p></div><a href="/pages/press-1" class="button button--primary">
                  LEARN MORE
                </a></div>
    </div>
  </div>
</div>


</div><div id="shopify-section-about-store" class="shopify-section section"><link href="//www.rasluxuryoils.com/cdn/shop/t/218/assets/component-image-with-text.css?v=106189373233589105561767088010" rel="stylesheet" type="text/css" media="all">
<style data-shopify="">.section-about-store-padding {
    padding-top: 12px;
    padding-bottom: 0px;
  }

.page-about .image-with-text__heading {
  font-family: Athelas;
}

  
  @media screen and (min-width: 750px) {
    .section-about-store-padding {
      padding-top: 16px;
      padding-bottom: 0px;
    }
  }</style><div class="image-with-text about-store image-with-text--no-overlap page-width isolate collapse-corners section-about-store-padding">
  <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
    <div class="image-with-text__media-item image-with-text__media-item--medium image-with-text__media-item--top grid__item">
      <div class="image-with-text__media image-with-text__media--adapt gradient color-background-1 global-media-settings media" style="padding-bottom: 66.6667%;"><img srcset="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185&amp;width=165 165w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185&amp;width=360 360w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185&amp;width=535 535w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185&amp;width=750 750w,//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185 750w" src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-13T193526.587.png?v=1736777185&amp;width=1500" sizes="(min-width: 1400px) 650px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="" loading="lazy" width="750" height="500"></div>
    </div>
    <div class="image-with-text__text-item grid__item">
      <div id="ImageWithText--about-store" class="image-with-text__content image-with-text__content--top image-with-text__content--desktop-left image-with-text__content--mobile-left image-with-text__content--adapt gradient color-background-1 content-container" style=""><h2 class="image-with-text__heading h1">
                <em>New Era</em> <span>of Retail Experience</span>
              </h2><div class="image-with-text__text rte body"><p>After opening our first store in the heart of Raipur, in the lively Magneto Mall, we have now launched our Flagship store at Nexus Mall Seawoods, Navi Mumbai. <br><br>Our store is unique, thanks to our state-of-the-art Facial Skin Analyser that enables us to analyse your skin and recommend skincare rituals addressing your specific concerns. Experience the World of RAS™ - a truly Farm to Face® experience at one of our stores opening near you shortly.</p></div><a href="/pages/locations" class="button button--primary">
                  LEARN MORE
                </a></div>
    </div>
  </div>
</div>


</div><div id="shopify-section-about-ecom-section" class="shopify-section"><style>
  .homepageicons {margin-bottom: -5px;padding-top:10px;}
</style>



<section class="homepageicons about-ecom page-width">
      <div class="homepageicons-container">
          <div class="icon-item"><img src="//www.rasluxuryoils.com/cdn/shop/files/3_6cece74d-cd77-4f46-ab2f-74ee6aaaaea4.png?v=1736504843" loading="lazy" alt=""></div>
          <div class="icon-item"><img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-10T160759.703.png?v=1736505526" loading="lazy" alt=""></div>
          <div class="icon-item"><img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-10T160816.749.png?v=1736505583" loading="lazy" alt=""></div>
          <div class="icon-item"><img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-11T124345.536.png?v=1736579680" loading="lazy" alt=""></div>
          <div class="icon-item"><img src="//www.rasluxuryoils.com/cdn/shop/files/Untitled_design_-_2025-01-11T124331.237.png?v=1736579658" loading="lazy" alt=""></div>
      </div>
    </section>

<style>
.homepageicons-container {
    display: flex;
    justify-content: space-evenly; /* Even spacing between items */
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on small screens */
    width: 100%;
    margin: 50px auto; /* Add margin to separate from content above/below */
    gap: 30px; /* Space between icons */
}

.icon-item {
    flex: 0 1 auto; /* Do not grow, allow shrink, auto basis */
    max-width: 180px; /* Max width for each logo */
    display: flex; /* Center image within the item div */
    justify-content: center; 
}

.icon-item img {
    width: 100%; /* Make image take full width of parent container */
    height: auto;
    object-fit: contain;
    max-height: 70px; /* Ensure logos aren't too tall */
}

@media screen and (max-width: 768px) {
    .homepageicons-container {
        justify-content: center; /* Center items on mobile */
        gap: 20px;
    }
    .icon-item {
        max-width: 100px; /* Smaller logos on mobile */
    }
}
</style>
    </section>





</div>






<style>

.page-about .multicolumn span{
    border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}

  
.page-about .banner{
      margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.page-about #ImageWithText--about-our-story{
    padding-left: 0;
}

.page-about #ImageWithText--about-press{
    padding-left: 0;
}

  .page-about .ras-at-core-vs .press_img img{
      width: 100%;
  }

  
.page-about .ras-vision{
      display: flex;
    width: 100%;
    align-items: center;
}
  
.page-about .vision-text-one{
      width: 15%;
}

.page-about .vision-text-two{
      width: 85%;
}

.page-about .vision-text-two p{
font-size: 16px;
    color: #000;
    text-align: center;
}
  
.section-about-richtext-padding .rich-text__blocks{
      width: 1200px;
    max-width: 100%;
}
  
.section-about-richtext-padding .rich-text__blocks p{
line-height: 30px;
    color: #000;
    font-size: 24px;
      font-style: italic;
}
  


.ras-vision .top-head span {
    border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}

.ras-vision .top-head{
    text-transform: initial;
    font-size: 34px;
    font-family: Playfair Display !important;
    letter-spacing: .5px;
    position: relative;
    text-align: center;
}

.page-about .image-with-text__heading{
      text-transform: initial;
    font-size: 34px;
    font-family: Playfair Display !important;
    letter-spacing: .5px;
    position: relative;
    text-align: center;
}

.page-about .image-with-text__heading span {
     border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}

  .page-about .about-ingredients .image-with-text__heading span {
    border-bottom: 5px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}

.page-about .image-with-text__text p{
    line-height: 21px;
    color: #000;
    font-size: 14px;
}

  .page-about .multicolumn-list p{
   line-height: 21px;
    color: #000;
    font-size: 14px;
        margin-bottom: 10px!important;
    
  }

.page-about .ras-at-core-vs p{
    line-height: 21px;
    color: #000;
    font-size: 14px;
      text-align: left;
}
  
  @media only screen and (max-width: 749px){

.section-about-ingredients-padding {
    padding-top: 5px;
}


    
  #shopify-section-about-image-banner{
        display: none;
  }
    
.section-about-richtext-padding .rich-text__blocks p {
    line-height: 24px;
    color: #000;
    font-size: 17px;
          text-align: left;
}

.page-about .ras-vision{
      display: block;
}
    
.page-about .vision-text-one {
    width: 100%;
}

.page-about .vision-text-two {
    width: 100%;
}

.page-about .vision-text-two p {
    font-size: 14px;
   line-height: 20px;
}
    
  .ras-vision .top-head {
    font-size: 24px;  
  }

.ras-vision .top-head em{
    padding-right: 7px;
}

.page-about .image-with-text__heading {
    font-size: 24px;
}

        .page-about .about-multicoloum .multicolumn .title {
        font-size: 20px!important;
    }

.page-about .multicolumn span{
    border-bottom: 3px solid #f4c166;
    display: inline-block;
    height: 1.2em;
    font-weight: 700;
}




    
.ras-at-core-vs h1 {
    font-size: 24px;
          text-align: left;
              margin-bottom: 25px;
        margin-top: 0;
}
    
.ras-at-core-vs .press_img img {
    width: 100%;

}
    
    #shopify-section-about-three-column .press_date {
        padding-top: 0px!important;
    }

.shopify-section .page-width.ingredients.ras-at-core-vs {
    padding-bottom: 0px !important;
}

.page-about .rich-text .rich-text__text {
        margin-top: 0rem!important;
    }

.page-about #ImageWithText--about-vision{
  padding-bottom: 0px;
}

    #shopify-section-about-three-column .press_date h3{
      text-align: left;
    }

.page-about .section-about-press-padding{
 padding-bottom: 25px!important;
  
}

        .page-about .about-store .image-with-text__content {
        padding-bottom: 0px;
    }


.page-about .homepageicons .swiper-button-next {
        right: 0;
        top: 70px;
    }

    .page-about .homepageicons .swiper-button-prev {
        left: 0;
        top: 70px;
    }


.page-about .about-store .image-with-text__heading{
     text-align: left;
}
    
  }

  
  
</style>
